<nav>
  <img src="assets/img/Logo.png" alt="Logo Image" class="logo" />

  <a href="#" class="menu-item">
    <i class="fa fa-bars"></i> <!-- Ícone do menu -->
    <span>Menu</span> <!-- Texto do menu -->
  </a>

  <div class="search-bar">
    <i class="fa fa-search search-icon"></i>
    <input type="text" id="searchInput" placeholder="Procurar..." class="search-input">
    <div id="searchSuggestions" class="search-suggestions"></div>
  </div>

  <a href="#">Séries</a>
  <a href="#">Filmes</a>
  <img src="assets/img/user.png" alt="User Icon" class="user-icon" />
</nav>
