* {
  margin: 0;
  padding: 0;
}

/**NAV BAR*/
nav {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Distribui os itens ao longo do eixo horizontal */
  font-size: 25px;
  font-family: 'Inter';
}

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
    font-weight: bold;
  }

/* Aumentar o tamanho do ícone do menu */
.fa-bars {
  font-size: 50px; /* Ajuste o tamanho conforme necessário */
}

a:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.logo {
  width: 5%
}

  .logo:hover {
    transform: scale(1.09);
    cursor: pointer;
  }

.menu-item {
  display: flex; /* Organiza o ícone e o texto lado a lado */
  align-items: center; /* Centraliza verticalmente */
  color: white; /* Cor do texto e ícone */
  text-decoration: none; /* Remove o sublinhado do link */
}

.menu-item:hover {
  transform: scale(1.09);
  cursor: pointer;
}

  .menu-item i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
  }

.user-icon {
  width: 50px; /* ou outro tamanho desejado */
  height: auto; /* mantém a proporção da imagem */
}

.user-icon:hover {
  transform: scale(1.09);
  cursor: pointer;
}


/**BARRA DE PESQUISA*/
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.search-icon {
  position: absolute; /* Adicione esta linha */
  left: 10px; /* Adicione esta linha */
  color: #474747; /* Cor do ícone */
}

.search-input {
  padding: 10px;
  padding-left: 50px; /* Adicione esta linha */
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Inter';
  width: 280px; /* Ajuste conforme necessário */
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.search-suggestion {
  padding: 10px;
  cursor: pointer;
}

.search-input:hover {
  background-color: #eee;
}

/* Estilo inicial para a barra lateral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

  .sidebar a {
    padding: 8px 8px 16px 8px; /* Ajuste o padding-left para centralizar mais para a esquerda */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: flex; /* Adiciona display flex */
    align-items: center; /* Centraliza verticalmente */
    transition: 0.3s;
    height: 40px; /* Altura fixa para os links */
    line-height: 40px; /* Alinha verticalmente o texto */
    z-index:1;
  }

    .sidebar a:hover {
      color: dodgerblue;
    }

    .sidebar a i {
      margin-right: 10px; /* Ajuste o margin-right para afastar o ícone do texto */
    }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 155px;
    font-size: 36px;
    margin-top:10px;
  }


.wwimage {
  max-width: 50%;
  height: auto;
  margin-bottom:20px;
}

.active-link {
  color: #4CAEFE !important;
}

.user-icon.active {
  background-image: url('../../assets/img/user-selected.png');
}

/* Adiciona estilos para a badge de notificação */
.notification-badge {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px; /* ou ajuste conforme necessário */
}

.notification-icon {
  color: #ff0000; /* ou qualquer cor que você quiser */
}
