<nav>
  <img [routerLink]="['/home']" src="assets/img/Logo.png" alt="Logo Image" class="logo" />

  <a class="menu-item" (click)="toggleMenu($event)">
    <i class="fa fa-bars"></i>
    <span>Menu</span>
  </a>

  <div class="search-bar">
    <i class="fa fa-search search-icon"></i>
    <input type="text" id="searchInput" placeholder="Procurar..." class="search-input">
    <div id="searchSuggestions" class="search-suggestions"></div>
  </div>

  <a href="#">Séries</a>
  <a href="#">Filmes</a>
  <img [routerLink]="['/profile']" src="assets/img/user.png" alt="User Icon" class="user-icon" />


  <div id="sidebar" class="sidebar">
    <a href="#"> <i class="fas fa-envelope"></i> Mensagens</a>
    <a href="#"> <i class="fas fa-bell"></i> Notificações </a>
    <a href="#"> <i class="fas fa-user"></i> Perfil </a>
    <a href="#"> <i class="fas fa-tv"></i> Séries </a>
    <a href="#"> <i class="fas fa-film"></i> Filmes </a>
    <a href="#"> <i class="fas fa-cog"></i> Definições </a>
    <a href="#"> <i class="fas fa-sign-out-alt"></i> Terminar Sessão </a>
  </div>
</nav>
