<nav>
  <img [routerLink]="['/home']" src="assets/img/Logo.png" alt="Logo Image" class="logo" />

  <a class="menu-item" (click)="toggleMenu($event)">
    <i class="fa fa-bars"></i>
    <span>Menu</span>
  </a>

  <div class="search-bar">
    <i class="fa fa-search search-icon"></i>
    <form (submit)="onSubmit()">
      <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Procurar..." class="search-input">
    </form>
    <div id="searchSuggestions" class="search-suggestions"></div>
  </div>
  <a [routerLink]="['/all-series-page']" routerLinkActive="active-link">Séries</a>
  <a [routerLink]="['/all-movies-page']" routerLinkActive="active-link">Filmes</a>
  <div routerLinkActive #rla="routerLinkActive">
    <ng-container *ngIf="(authService.user$ | async) as user; else notLoggedIn">
      <img (click)="navigateBasedOnRole(user.username)"
           [src]="rla.isActive ? 'assets/img/user-selected.png' : 'assets/img/user.png'"
           alt="User Icon"
           class="user-icon" />


    </ng-container>

    <ng-template #notLoggedIn>
      <img [routerLink]="['/account/login']"
           [src]="rla.isActive ? 'assets/img/user-selected.png' : 'assets/img/user.png'"
           alt="User Icon"
           class="user-icon" />
    </ng-template>
  </div>



  <div id="sidebar" class="sidebar">
    <img class="wwimage" src="assets/img/WatchersWorld.png" alt="WathchersWorld Icon" />
    <a href="#"> <i class="fas fa-envelope"></i> Mensagens</a>
    <a [routerLink]="['/notifications', loggedUserName]"> <i class="fas fa-bell"></i> Notificações </a>
    <a [routerLink]="['/profile', loggedUserName]"> <i class="fas fa-user"></i> Perfil </a>
    <a [routerLink]="['/all-series-page']"> <i class="fas fa-tv"></i> Séries </a>
    <a [routerLink]="['/all-movies-page']"> <i class="fas fa-film"></i> Filmes </a>
    <a href="#"> <i class="fas fa-cog"></i> Definições </a>
    <a href="#"> <i class="fas fa-sign-out-alt"></i> Terminar Sessão </a>
    <a class="closebtn" (click)="closeNav()"><i class="fas fa-times"></i></a>

  </div>
</nav>
