<div class="title-panel" *ngIf="loggedUserName === currentUsername">
  <h3 class="title-center">Notificações</h3>
  <hr class="divider">
  <!-- Verificação se existem pedidos pendentes -->
  <div *ngIf="pendingFollowRequests.length; else noRequests">
    <div class="user-list">
      <h4>Número de pedidos para seguir: {{pendingFollowRequests.length}}</h4>
      <div *ngFor="let request of pendingFollowRequests" class="user">
        <div class="user-info">
          <img class="avatar" [src]="request.profilePhoto" [routerLink]="['/profile', request.username]">
          <p class="name">{{ request.username }}</p>
          <div class="actions">
            <button (click)="acceptFollowRequest(request.username)" class="accept-follow-request">Aceitar</button>
            <button (click)="rejectFollowRequest(request.username)" class="recuse-follow-request">Recusar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Template para exibir quando não há pedidos pendentes -->
  <ng-template #noRequests>
    <div class="no-requests">
      <p>Não existe nenhuma notificação pendente.</p>
    </div>
  </ng-template>
</div>
