<div class="register-container">
  <img src="assets/img/Logo.png" alt="Logo Image" class="logo" />
  <div class="register-form-container">
    <form [formGroup]="registrationForm" class="register-form" (ngSubmit)="register()" autocomplete="off">


      <div class="input-with-icon"
           [class.has-error]="submitted && (registrationForm.get('username')?.errors || (errorMessages['Username'] && !isFieldModified('username')))">
        <i class="fa fa-user"></i>
        <input formControlName="username" type="text" placeholder="USERNAME"
               [class.is-invalid]="submitted && registrationForm.get('username')?.errors" />
      </div>

      <div class="error-container" *ngIf="submitted && (registrationForm.get('username')?.errors || errorMessages['Username'])">
        <span class="error-message" *ngIf="registrationForm.get('username')?.hasError('required')">
          O nome de utilizador é obrigatório!
        </span>
        <span class="error-message" *ngIf="registrationForm.get('username')?.hasError('minlength') || registrationForm.get('username')?.hasError('maxlength')">
          O nome de utilizador tem de conter entre 4-20 caracteres!
        </span>
        <span class="error-message" *ngIf="!registrationForm.get('username')?.errors && errorMessages['Username'] && !isFieldModified('username')">
          {{ errorMessages['Username'] }}
        </span>
      </div>


      <div class="input-with-icon"
            [class.has-error]="(submitted && (registrationForm.get('email')?.errors || (errorMessages['Email'] && !isFieldModified('email')))) || errorMessages['ThirdPartyEmail']">
        <i class="fa fa-envelope"></i>
        <input formControlName="email" type="email" placeholder="EMAIL"
               [class.is-invalid]="submitted && registrationForm.get('email')?.errors" />
      </div>

       <div class="error-container" *ngIf="(submitted && (registrationForm.get('email')?.errors || errorMessages['Email'])) || errorMessages['ThirdPartyEmail']">
         <span class="error-message" *ngIf="registrationForm.get('email')?.hasError('required') && !errorMessages['ThirdPartyEmail']">
           O email é obrigatório!
         </span>
         <span class="error-message" *ngIf="registrationForm.get('email')?.hasError('email') && !errorMessages['ThirdPartyEmail']">
           A nomenclatura do email está incorreta!
         </span>
         <span class="error-message" *ngIf="!registrationForm.get('email')?.errors && errorMessages['Email'] && !isFieldModified('email')">
           {{ errorMessages['Email'] }}
         </span>
         <span class="error-message" *ngIf="errorMessages['ThirdPartyEmail']">
           {{ errorMessages['ThirdPartyEmail'] }}
         </span>
       </div>

      <div class="input-with-icon"
           [class.has-error]="submitted && registrationForm.get('password')?.errors">
        <i class="fa fa-lock"></i>
        <input formControlName="password" type="password" placeholder="PALAVRA-PASSE" />
      </div>

      <div class="error-container" *ngIf="submitted && registrationForm.get('password')?.errors">
        <span class="error-message" *ngIf="registrationForm.get('password')?.hasError('required')">
          A palavra-passe é obrigatória!
        </span>
        <span class="error-message" *ngIf="registrationForm.get('password')?.hasError('minlength')
                                        || registrationForm.get('password')?.hasError('pattern')
                                        || registrationForm.get('password')?.hasError('maxlength')">
          A palavra-passe tem de conter entre 8-12 caracteres, entre eles pelo menos uma letra minúscula, uma letra maiúscula e um número!
        </span>
        <span class="error-message" *ngIf="!registrationForm.get('password')?.errors && errorMessages['Password'] && !isFieldModified('password')">
          {{ errorMessages['Password'] }}
        </span>
      </div>

      <authentication-button [buttonText]="'REGISTAR'" [buttonType]="'submit'"></authentication-button>
      <div class="divider"></div>
      <div #googleButton></div>

      <authentication-button [buttonText]="'REGISTAR COM GOOGLE'" [buttonType]="'submit'" [icon]="'assets/img/google.png'"></authentication-button>

      <span class="register-link">
        Já possui conta?
        <span class="register-separator"></span> <!-- Espaçador -->
        <a routerLink="/account/login" class="login-link">Faça login aqui!</a>
      </span>
    </form>
  </div>
</div>

