<div class="resend-verification-container">
  0
  <img src="assets/img/Logo.png" alt="Logo Image" class="logo" />
  <div class="resend-verification-form-container">
    
    <form class="resend-verification-form">
      <h3>
        Insira o seu email para podermos reenviar a confirmação.
      </h3>
      <div class="input-with-icon">
        <i class="fa fa-user"></i> 
        <input type="text" placeholder="EMAIL" />
      </div>

      <authentication-button [buttonText]="'REENVIAR EMAIL'" [buttonType]="'submit'"></authentication-button>
    </form>
  </div>
</div>
