

/* Ajustes responsivos, se necessário */
@media (max-width: 768px) {
  .session-container {
    flex-direction: column; /* Empilha o texto e o botão verticalmente */
    height: auto; /* Altura automática para acomodar o conteúdo interno */
  }

  .logout-button {
    padding: 8px 15px;
    font-size: 0.8rem;
    margin-top: 10px; /* Espaçamento acima do botão */
  }
}


.rowposter {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg {
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

  .rowimg:hover {
    transform: scale(1.09);
    cursor: pointer;
  }

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  display: none;
}

.button-nav {
  font-size: 3.5em;
  background-color: transparent;
  border: none;
  color: #4CAEFE;
}

.expand-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}

  .expand-button:hover {
    background-color: #0056b3;
  }

.row-container {
  display: flex;
  align-items: center;
}

.poster-image {
  width: 20%; /* Ajuste este valor conforme necessário */
  position: absolute;
  bottom: -6em;
  left: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15); /* Sombra ao redor da caixa */
}

.row {
  margin-top: 5em;
}


.custom-btn {
  color: #4CAEFE;
  background-color: transparent;
}

.poster-caption-container {
  display: flex;
  align-items: center;
}

.flex-wrap {
  flex-wrap: nowrap !important;
}
