<div class="container bg-white">
      <div class="row position-relative">
        <div class="container bg-white  rounded">
          <!-- Botão Voltar -->
            <!-- Botão Voltar e Pôster -->
          <div class="d-flex align-items-center mb-4">

            <div class="backdrop-with-poster mb-4" *ngIf="getSerieDetailsResult?.backdrop_path">
              <img src="https://image.tmdb.org/t/p/original/{{ getSerieDetailsResult.backdrop_path }}" class="backdrop-image img-fluid rounded" alt="Backdrop da Série">
              <div class="poster-overlay">
                <button [routerLink]="['/serie', getSerieDetailsResult?.id]" class="btn btn-secondary shadow-sm">
                  <i class="fas fa-arrow-left"></i> Voltar
                </button>
              </div>
              <h1 class="serie-title">{{ getSerieDetailsResult.name }}</h1>
              <h6 class="serie-tagline" style="">{{ getSerieDetailsResult.tagline }}</h6>

            </div>
          </div>

            <h2 class="mb-4">Temporadas</h2>
            <div *ngFor="let season of getSerieDetailsResult?.seasons" class="season-container shadow-sm bg-white rounded mb-4">
              <div class="season-image-container">
                <img *ngIf="season.poster_path; else defaultPoster" src="https://image.tmdb.org/t/p/w200/{{ season.poster_path }}" class="img-fluid rounded" alt="Poster da Temporada">
                <ng-template #defaultPoster >
                  <img src="../assets/img/default_media_pic.jpg" class="img-fluid rounded" alt="Poster Padrão da Temporada" style="height:300px; width:200px;">
                </ng-template>
              </div>
              <div class="season-info p-3">
                <h3> {{ season.name }}</h3>
                <p>Número de Episódios: {{ season.episode_count }}</p>
                <p>Data de Lançamento: {{ season.air_date || '-' }}</p>
                <p *ngIf="season.overview; else defaultSynopsis">Sinopse: {{ season.overview }}</p>
                <ng-template #defaultSynopsis>
                  <p>Sinopse: Esta é a temporada {{ season.season_number }} da série "{{ getSerieDetailsResult?.name }}".</p>
                </ng-template>
                <ng-container *ngIf="season.vote_average && season.vote_average > 0">
                  <p>Classificação Geral dos Utilizadores: {{ season.vote_average }}</p>
                </ng-container>
                <a [routerLink]="['/serie', getSerieDetailsResult?.id, 'season', season.season_number]" class="btn btn-primary shadow-sm">Ver detalhes da temporada</a>
              </div>
            </div>
          </div>

        </div>
        </div>
