<div class="movie-page-container">
  <div class="movie-page-box">
    <div class="movie-page-header">The Hunger Games a Balada dos Pássaros e das Serpentes</div>

    <div class="watching-time">
      Tempo Total: 2h 28 m
    </div>

    <div class="watching-category">
      Categoria: Ação/Aventura
    </div>



    <div class="where-to-watch-container">
      <div class="where-to-watch">
        <div class="text-header">Onde ver:</div>
        <div class="platform">
          <img src="https://via.placeholder.com/80x80" alt="Netflix">Netflix
          <img src="https://via.placeholder.com/80x80" alt="Prime">Prime
        </div>
      </div>
    </div>




    <div class="sinopse-text">
      <div class="text-header">Sinopse</div>

      Procuramos proporcionar aos utilizadores uma experiência cinematográfica envolvente,
      cheia de funcionalidades e recursos que ofereçam o máximo de informação e entretenimento.<br />
      Estamos empenhados em elevar os padrões e em criar algo verdadeiramente notável no cenário digital.<br />
      Durante este primeiro ano, alcançámos diversos marcos e enfrentámos desafios com dedicação e entusiasmo.<br />
      Estamos ansiosos por continuar a aprimorar a nossa aplicação e por proporcionar aos utilizadores uma jornada cinematográfica ainda mais rica nos próximos anos.<br />
      Agradecemos a todos os membros da equipa pelo esforço contínuo e dedicação.
    </div>

    <div class="text-header">Elenco:</div>
    <div class="cast-container">
      <div class="cast">
        <img src="https://via.placeholder.com/80x80" alt="Eduardo Silveiro Image">
        <p>Eduardo Silveiro </p>
      </div>
      <div class="cast">
        <img src="https://via.placeholder.com/80x80" alt="Diogo Carreira Image">
        <p>Diogo Carreira </p>
      </div>
      <div class="cast">
        <img src="https://via.placeholder.com/80x80" alt="Nuno Jesus Image">
        <p>Nuno Jesus </p>
      </div>
      <div class="cast">
        <img src="https://via.placeholder.com/80x80" alt="João Silva Image">
        <p>João Silva </p>
      </div>
    </div>


  </div>
</div>
