<!-- p *ngIf="message">{{message}}</!--p>-->

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card mb-3">
        <img src="" class="card-img-top cover-photo" alt="Capa do perfil">
        <div class="card-body text-center">
          <img src="" class="rounded-circle mb-3 profile-photo" alt="Foto do perfil" style="width: 120px; height: 120px;">
          <h1 class="card-title"> </h1>
          <div class="user-icons" *ngIf="(authService.user$ | async) as user">
            <a *ngIf="user.username === currentUsername" routerLink="/" class="profile-icon">
              <img src="assets/img/statistic.png" alt="Estatisticas">
            </a>
            <a *ngIf="user.username === currentUsername" routerLink="/" class="profile-icon">
              <img src="assets/img/messenger.png" alt="Chat">
            </a>
            <button *ngIf="!isFollowing && user.username !== currentUsername" class="follow-button" (click)="followUser()">
              Seguir
            </button>
            <button *ngIf="isFollowing && user.username !== currentUsername" class="unfollow-button" (click)="unfollowUser()">
              Deixar de Seguir
            </button>
            <button *ngIf="user.username !== currentUsername" class="send-message-button">
              Enviar mensagem
            </button>
            <a *ngIf="user.username === currentUsername" [routerLink]="['/editProfile', user.username]" class="profile-icon">
              <img src="assets/img/edit profile.png" alt="Editar perfil">
            </a>
          </div>
          <div class="user-details">
            <form [formGroup]="profileForm" class="user-details">
              <div>
                <label for="hobby">Descrição:</label>
                <input formControlName="hobby" type="text" id="hobby" name="hobby" readonly>
              </div>
              <div>
                <label>Género:</label>
                <input formControlName="gender" type="radio" id="male" name="gender" value="M" [checked]="profileForm.controls['gender'].value === 'M'">
                <label for="male">Masculino</label>
                <input formControlName="gender" type="radio" id="female" name="gender" value="F" [checked]="profileForm.controls['gender'].value === 'F'">
                <label for="female">Feminino</label>
              </div>
              <div>
                <label for="birthdate">Data de nascimento:</label>
                <input formControlName="date" type="date" id="birthdate" name="birthdate" readonly>
              </div>
            </form>
            <br />
            <!-- Lista de seguidores -->
            <!-- Envolve as listas de seguidores e seguindo em um container flex -->
            <div class="followers-following-container">
              <!-- Lista de seguidores -->
              <div *ngIf="followers!.length > 0; else noFollowers">
                <p>Seguidores: {{ followers.length }}</p>
                <ul class="no-list-style">
                  <li *ngFor="let follower of followers">
                    <ng-container *ngFor="let userProfile of usersProfiles">
                      <div *ngIf="userProfile.userName === follower">
                        <img [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]" class="user-photo">
                        <p class="user-name">{{ userProfile.userName }}</p>
                      </div>
                    </ng-container>
                  </li>
                </ul>
              </div>
              <ng-template #noFollowers><p>Não tem seguidores no momento.</p></ng-template>

              <!-- Lista de seguindo -->
              <div *ngIf="following!.length > 0; else noFollowing">
                <p>A Seguir: {{ following.length }}</p>
                <ul class="no-list-style">
                  <li *ngFor="let following of following">
                    <ng-container *ngFor="let userProfile of usersProfiles">
                      <div *ngIf="userProfile.userName === following">
                        <img [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]" class="user-photo">
                        <p class="user-name">{{ userProfile.userName }}</p>
                      </div>
                    </ng-container>
                  </li>
                </ul>
              </div>
              <ng-template #noFollowing><p>Não está a seguir ninguém no momento.</p></ng-template>
            </div>
            <!-- Seção de Favoritos -->
          </div>
          <div class="user-media">
            <div class="favorites-section">
              <div class="favorites-section-header">
                <div class="favorites-title">
                  <h3>Favoritos:</h3>
                  <span class="favorites-down-arrow" [ngClass]="showFavorites ? 'favorites-down-arrow' : 'favorites-right-arrow'" (click)="toggleFavorites()">&#9660;</span>
                </div>
                <button class="filter-favorites-button">Filtrar</button>
              </div>
              <div [ngClass]="showFavorites ? 'favorites-section-content-expanded' : 'favorites-section-content-collapsed'">
                <p> Favoritos Por Implementar</p>
              </div>
            </div>
            <div class="movies-section">
              <div class="movies-section-header">
                <div class="movies-title">
                  <h3>Filmes:</h3>
                  <span class="movies-down-arrow" [ngClass]="showMovies ? 'movies-down-arrow' : 'movies-right-arrow'" (click)="toggleMovies()">&#9660;</span>
                </div>
                <button class="filter-movies-button">Filtrar</button>
              </div>
              <div [ngClass]="showMovies ? 'movies-section-content-expanded' : 'movies-section-content-collapsed'">
                <p>Filmes Por Implementar</p>
              </div>
            </div>
            <div class="series-section">
              <div class="series-section-header">
                <div class="series-title">
                  <h3>Séries:</h3>
                  <span class="series-down-arrow" [ngClass]="showSeries ? 'series-down-arrow' : 'series-right-arrow'" (click)="toggleSeries()">&#9660;</span>
                </div>
                <button class="filter-series-button">Filtrar</button>
              </div>
              <div [ngClass]="showSeries ? 'series-section-content-expanded' : 'series-section-content-collapsed'">
                <p>Series Por Implementar</p>
              </div>
            </div>
            <div class="medals-section">
              <div class="medals-section-header">
                <div class="medals-title">
                  <h3>Medalhas:</h3>
                  <span class="medals-down-arrow" [ngClass]="showMedals ? 'medals-down-arrow' : 'medals-right-arrow'" (click)="toggleMedals()">&#9660;</span>
                </div>
                <button class="filter-medals-button">Filtrar</button>
              </div>
              <div [ngClass]="showMedals ? 'medals-section-content-expanded' : 'medals-section-content-collapsed'">
                <p>Medalhas Por Implementar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-4 side-divs">
  <div class="card mb-3">
    <div class="card-body side-div-users">
      <h2>Outros Utilizadores</h2>
      <ul class="item-list">
        <li *ngFor="let userProfile of usersProfiles">
          <div *ngIf="userProfile.userName !== loggedUserName" class="user-item">
            <img class="user-photo2" [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]">
            <p class="user-name">{{ userProfile.userName }}</p>
          </div>
        </li>
      </ul>
      <a href="#" class="expand-link">Expandir Utilizadores</a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body side-div-suggestions">
      <h2>Sugestões</h2>
      <a href="#" class="expand-link">Expandir Sugestões</a>
    </div>
  </div>
</div>
