<!-- p *ngIf="message">{{message}}</!--p>-->

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card mb-3">
        <img src="" class="card-img-top cover-photo" alt="Capa do perfil">
        <div class="card-body text-center">
          <img src="" class="rounded-circle mb-3 profile-photo" alt="Foto do perfil" style="width: 120px; height: 120px;">
          <h1 class="card-title"> </h1>
          <div class="user-icons" *ngIf="(authService.user$ | async) as user">
            <a *ngIf="user.username === currentUsername" routerLink="/" class="profile-icon">
              <img src="assets/img/statistic.png" alt="Estatisticas">
            </a>
            <a *ngIf="user.username === currentUsername" routerLink="/" class="profile-icon">
              <img src="assets/img/messenger.png" alt="Chat">
            </a>
            <button *ngIf="!isFollowing && user.username !== currentUsername" class="follow-button" (click)="followUser()">
              Seguir
            </button>
            <button *ngIf="isFollowing && user.username !== currentUsername" class="unfollow-button" (click)="unfollowUser()">
              Deixar de Seguir
            </button>
            <button *ngIf="user.username !== currentUsername" class="send-message-button">
              Enviar mensagem
            </button>
            <a *ngIf="user.username === currentUsername" [routerLink]="['/editProfile', user.username]" class="profile-icon">
              <img src="assets/img/edit profile.png" alt="Editar perfil">
            </a>
          </div>
          <div class="user-details">
            <form [formGroup]="profileForm" class="user-details">
              <div>
                <label for="hobby">Descrição:</label>
                <input formControlName="hobby" type="text" id="hobby" name="hobby" readonly>
              </div>
              <div>
                <label>Género:</label>
                <input formControlName="gender" type="radio" id="male" name="gender" value="M" [checked]="profileForm.controls['gender'].value === 'M'">
                <label for="male">Masculino</label>
                <input formControlName="gender" type="radio" id="female" name="gender" value="F" [checked]="profileForm.controls['gender'].value === 'F'">
                <label for="female">Feminino</label>
              </div>
              <div>
                <label for="birthdate">Data de nascimento:</label>
                <input formControlName="date" type="date" id="birthdate" name="birthdate" readonly>
              </div>
            </form>
          </div>
          <br />
          <!-- Lista de seguidores -->
          <!-- Envolve as listas de seguidores e seguindo em um container flex -->
          <div class="followers-container" *ngIf="showFollowers">
            <!-- Lista de seguidores -->
            <div *ngIf="followers.length > 0; else noFollowers">
              <div class="search-followers-container">
                <p class="follows-text">Seguidores: {{ followers.length }}</p>
                <button class="expand-followers-button" (click)="toggleFollowersScroll()">
                  {{ expandedFollowers ? 'Fechar' : 'Expandir' }}
                </button>
              </div>
              <br />
              <ul class="no-list-style">
                <li *ngFor="let follower of showAllFollowers ? followers : followers.slice(0, 6)">
                  <div>
                    <img [src]="follower.profilePhoto" [routerLink]="['/profile', follower.username]" class="user-photo">
                    <p class="user-name">{{ follower.username }}</p>
                  </div>
                </li>
              </ul>
            </div>
            <ng-template #noFollowers><p>Não tem seguidores no momento.</p></ng-template>
          </div>
          <br />
          <div class="following-container" *ngIf="showFollowing">
            <!-- Lista de seguindo -->
            <div *ngIf="following.length > 0; else noFollowing">
              <div class="following-count-container">
                <p class="follows-text">A seguir: {{ following.length }}</p>
                <button class="expand-following-button" (click)="toggleFollowingScroll()">
                  {{ expandedFollowing ? 'Fechar' : 'Expandir' }}
                </button>
              </div>
              <br />
              <ul class="no-list-style">
                <li *ngFor="let follow of showAllFollowing ? following : following.slice(0, 6)">
                  <div>
                    <img [src]="follow.profilePhoto" [routerLink]="['/profile', follow.username]" class="user-photo">
                    <p class="user-name">{{ follow.username }}</p>
                  </div>
                </li>
              </ul>
            </div>
            <ng-template #noFollowing><p>Não está a seguir ninguém no momento.</p></ng-template>
          </div>
          <!-- Seção de Favoritos -->
          <div class="user-media" *ngIf="showMediaDetails">
            <div class="favorites-section">
              <div class="favorites-section-header">
                <div class="favorites-title">
                  <h3>Favoritos:</h3>
                  <span class="favorites-down-arrow" [ngClass]="showFavorites ? 'favorites-down-arrow' : 'favorites-right-arrow'" (click)="toggleFavorites()">&#9660;</span>
                </div>
                <button class="filter-favorites-button">Filtrar</button>
              </div>
              <div [ngClass]="showFavorites ? 'favorites-section-content-expanded' : 'favorites-section-content-collapsed'">
                <p>Favoritos Por Implementar</p>
              </div>
            </div>
            <div class="movies-section">
              <div class="movies-section-header">
                <div class="movies-title">
                  <h3>Filmes:</h3>
                  <span class="movies-down-arrow" [ngClass]="showMovies ? 'movies-down-arrow' : 'movies-right-arrow'" (click)="toggleMovies()">&#9660;</span>
                </div>
                <button class="filter-movies-button">Filtrar</button>
              </div>
              <div [ngClass]="showMovies ? 'movies-section-content-expanded' : 'movies-section-content-collapsed'">
                <p>Filmes Por Implementar</p>
              </div>
            </div>
            <div class="series-section">
              <div class="series-section-header">
                <div class="series-title">
                  <h3>Séries:</h3>
                  <span class="series-down-arrow" [ngClass]="showSeries ? 'series-down-arrow' : 'series-right-arrow'" (click)="toggleSeries()">&#9660;</span>
                </div>
                <button class="filter-series-button">Filtrar</button>
              </div>
              <div [ngClass]="showSeries ? 'series-section-content-expanded' : 'series-section-content-collapsed'">
                <p>Series Por Implementar</p>
              </div>
            </div>
            <div class="medals-section">
              <div class="medals-section-header">
                <div class="medals-title">
                  <h3>Medalhas:</h3>
                  <span class="medals-down-arrow" [ngClass]="showMedals ? 'medals-down-arrow' : 'medals-right-arrow'" (click)="toggleMedals()">&#9660;</span>
                </div>
                <button class="filter-medals-button">Filtrar</button>
              </div>
              <div [ngClass]="showMedals ? 'medals-section-content-expanded' : 'medals-section-content-collapsed'">
                <p>Medalhas Por Implementar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 col-lg-4 side-divs">
  <div class="card mb-3">
    <div class="card-body side-div-users">
      <h2>Outros Utilizadores</h2>
      <ul class="item-list">
        <!-- Utilize o operador ternário para decidir quantos usuários mostrar baseado na variável 'showFiveOtherUsers' -->
        <li *ngFor="let userProfile of (showFiveOtherUsers ? usersProfiles : usersProfiles.slice(0, 3))">
          <div *ngIf="userProfile.userName !== loggedUserName" class="user-item">
            <img class="other-users-user-photo" [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]">
            <span class="other-users-user-name">{{ userProfile.userName }}</span>
          </div>
        </li>
      </ul>
      <a (click)="toggleAllFiveOtherUsers(); $event.preventDefault()" class="expand-link">
        {{ showFiveOtherUsers ? 'Mostrar Menos' : 'Expandir Utilizadores' }}
      </a>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body side-div-suggestions">
      <h2>Algumas Sugestões</h2>
      <div class="contain p-4">
        <div *ngFor="let category of categories.slice(0)" class="row">
          <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let movie of (showExpandedSuggestions ? category.results.slice(0, 4) : category.results.slice(0, 3)); let i = index">
              <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="[category.media_type === 'movie' ? '/movie' : '/serie', movie.id]">
            </ng-container>
          </div>
        </div>
      </div>
      <a (click)="toggleExpandedSuggestions()" class="expand-link">
        {{ showExpandedSuggestions ? 'Mostrar Menos' : 'Expandir Sugestões' }}
      </a>
    </div>
  </div>
</div>



