/* Custom CSS para ajustar o layout com Bootstrap */

/* Ajusta a imagem de capa para cobrir toda a área disponível */
.cover-photo {
  width: 100%;
  height: 200px; /* Altura fixa para a imagem de capa */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
  position: relative;
  z-index: 1;
}


/* Estiliza a foto do perfil */
.profile-photo {
  position: absolute;
  left: 2%; /* Ajuste este valor conforme necessário */
  top: 140px; /* Ajuste vertical para alinhar com o nome, se necessário */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 3;
  left:80px;
}


/* Ajusta o título do usuário para ficar à direita da foto do perfil */
.card-title {
  position: absolute;
  left: 215px; /* Ajuste conforme a largura da sua foto do perfil */
  top: 200px; /* Ajuste esta propriedade para alinhar verticalmente com a sua foto do perfil */
  z-index: 3;
}

/* Organizar os campos do formulário e botões */
.user-details {
  display: flex;
  flex-direction: column; /* Organiza os campos do formulário em coluna */
  justify-content: flex-start; /* Alinha ao início do container */
  align-items: flex-start;
  padding-top:30px;
  gap:5px;
}

.user-icons {
  display: flex;
  gap: 10px; /* Isso adiciona um espaço de 10px entre cada ícone */
  position: absolute; /* Continua com posicionamento absoluto */
  top: 215px; /* Ajuste conforme necessário para mover os ícones para dentro da caixa branca */
  left:400px;
  z-index: 2;
}

/* Ajusta o posicionamento da área de informação do usuário */
.profile-info {
  display: flex;
  flex-direction: row; /* Organiza o conteúdo em linha */
}

/* Título e ícones do perfil */
.user-name-and-icons {
  margin-top: -60px; /* Ajusta o posicionamento com base na altura da foto do perfil */
  padding-bottom: 30px; /* Espaço extra abaixo dos ícones */
}

/* Ícones do perfil */
.profile-icon img {
  width: 30px; /* Tamanho fixo para os ícones */
}

/* Aumenta ligeiramente o ícone ao passar o mouse ou clicar */
.profile-icon:hover, .profile-icon:active {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

/* Estilos para as divs laterais */
.side-divs {
  position: absolute; /* ou 'fixed' dependendo se quer que movam com a página ou não */
  top: 130px; /* Ajuste conforme necessário */
  right: 250px; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha as divs à direita */
  z-index: 2; /* Garante que as divs fiquem acima do fundo mas abaixo de qualquer conteúdo interativo */
  gap: 20px; /* Espaço entre as divs */
}

.side-div-users, .side-div-suggestions {
  background-color: white;
  width: 300px; /* Largura das divs laterais */
  margin: 10px 0; /* Espaço superior e inferior entre as divs */
  padding: 20px; /* Padding interno para o conteúdo das divs */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para dar profundidade */
  border-radius: 10px; /* Borda arredondada */
  box-sizing: border-box; /* Garante que padding e border estão incluídos na largura */
}

  /* Títulos para cada div lateral */
  .side-div-users > h2, .side-div-suggestions > h2 {
    font-size: 1.5em;
    color: #333;
    margin: 0 0 16px 0; /* Margem inferior */
  }

/* Ajuste a classe para os itens de usuário e sugestões */
.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

  .item-list > li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre os itens */
  }

    .item-list > li > img {
      width: 50px; /* Largura das imagens dos usuários */
      height: 50px; /* Altura das imagens dos usuários */
      border-radius: 50%; /* Torna as imagens redondas */
      margin-right: 10px; /* Espaço entre a imagem e o texto */
    }

input[type="text"],
input[type="date"] {
  border: none; /* Remove as bordas */
  outline: none; /* Remove o contorno que aparece ao focar */
}



@media (max-width: 991px) { /* Para tablets e desktops menores */
  .side-divs {
    position: static; /* As divs se tornam parte do fluxo normal do documento */
    margin-top: 20px; /* Espaçamento acima das divs laterais */
  }
}

@media (max-width: 767px) { /* Para dispositivos móveis */
  .side-divs {
    display: none; /* Esconde as divs laterais em dispositivos móveis */
  }
}

/* Estilizar botões ou links para "Expandir" */
.side-div-users > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-suggestions > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.user-name {
  font-size: 1em; /* Define o tamanho da fonte */
  padding-top:10px;
  color: #333; /* Define a cor do texto */
  font-weight: bold;
}

.follow-button,
.unfollow-button{
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 150px;
  height: 40px;
}

.send-message-button {
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
}

.followers-following-container {
  display: flex;
  justify-content: space-between; /* Alinha os itens lado a lado e distribui o espaço igualmente */
  width:20rem;
}

.user-photo {
  width: 50px; /* Tamanho desejado das imagens */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-photo2 {
  width: 50px; /* Tamanho desejado das imagens */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.no-list-style {
  list-style-type: none; /* Isso remove os pontos dos itens de lista */
}

  /* Para manter um espaçamento consistente entre os itens de lista */
  .no-list-style li {
    margin-bottom: 10px; /* Ajuste conforme necessário */
  }

.user-item {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 10px; /* Espaçamento entre a imagem e o texto */
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------- MEDIA ------------------------------------------------------------ */
/* --------------------------------------------------------------------------------------------------------------------------- */

.favorites-section,
.movies-section,
.series-section,
.medals-section {
  padding: 10px;
  margin-top: 20px; /* Espaço acima da seção */
  margin-left:90px;
  width:600px;
}

.favorites-section-content-expanded,
.movies-section-content-expanded,
.series-section-content-expanded,
.medals-section-content-expanded {
  height: 200px; /* Altura quando expandido */
  /* suas outras propriedades como padding, margin, background-color, etc. */
}

.favorites-section-content-collapsed,
.movies-section-content-collapsed,
.series-section-content-collapsed,
.medals-section-content-collapsed {
  height: 0; /* Altura quando colapsado */
  overflow: hidden; /* Esconde o conteúdo que excede a altura */
  /* suas outras propriedades como padding, margin, background-color, etc. */
}

.favorites-section-header,
.movies-section-header,
.series-section-header,
.medals-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaça o título e o botão uniformemente */
}

.favorites-title,
.movies-title,
.series-title,
.medals-title{
  display: flex;
  align-items: center;
}

.section-header h3 {
  margin-right: 10px; /* Espaço entre o título e a seta */
}

.filter-button {
  padding: 5px 10px; /* Ajuste conforme necessário */
  background-color: #007bff; /* Cor do botão, pode ser alterada */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

  .filter-button:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }

.favorites-down-arrow,
.movies-down-arrow,
.series-down-arrow,
.medals-down-arrow{
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  color: #4CAEFE;
  margin-left:20px;
}

.favorites-right-arrow,
.movies-right-arrow,
.series-right-arrow,
.medals-right-arrow {
  cursor: pointer;
  /* Estilos da seta para cima, você pode usar uma transformação para rotacionar a seta para baixo */
  transform: rotate(180deg);
}

.favorites-section-content,
.movies-section-content,
.series-section-content,
.medals-section-content{
    /* TODO */
}

.filter-favorites-button,
.filter-movies-button,
.filter-series-button,
.filter-medals-button{
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-weight:bold;
}
