.main {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 50%, rgba(0,0,0,1) 100%);
  font-family: Arial, sans-serif;
  position: relative; /* Para posicionar as divs secundárias absolutamente em relação a esta */
  padding-bottom: 50px;
}

.profile-header {
  width: 75%;
  height: 200px;
  position: relative;
  margin-left: 30px;
}

.cover-photo {
  width: 100%; /* Faz a imagem de capa ocupar toda a largura do cabeçalho */
  height: 100%; /* Faz a imagem de capa ocupar toda a altura do cabeçalho */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorcer */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; /* Garante que a foto de capa fique atrás da foto de perfil */
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: -60px; /* A imagem de perfil se sobrepõe à div abaixo */
  z-index: 10; /* Garante que a foto do perfil esteja acima das outras divs */
  background-color: black;
}

.profile-info {
  background-color: white;
  width: 75%;
  padding-top: 60px; /* Espaço para a imagem do perfil se sobrepor */
  box-sizing: border-box;
  margin-left: 30px;
  height: 400px;
}

.user-name-and-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -70px;
}

.user-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 180px;
}

.user-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; /* Alinha os ícones à direita */
  margin-bottom: 30px;
  margin-top: 15px;
  margin-right: 10px;
}

.profile-icon {
  font-size: 24px;
  text-decoration: none; /* Remove o sublinhado dos links */
  color: inherit; /* Herda a cor do texto do pai ou especifica uma cor */
  padding: 8px; /* Adiciona um pouco de padding para aumentar a área de clique */
  border-radius: 4px; /* Arredonda as bordas se você decidir adicionar um fundo ou borda */
  transition: background-color 0.3s, transform 0.3s; /* Suaviza a transição de estados */
  display: inline-block
}

  .profile-icon img {
    width: 30px;
    height: auto;
  }


  .profile-icon:hover, .profile-icon:active {
    background-color: #f0f0f0; /* Cor de fundo quando passa o mouse por cima ou clica */
    transform: scale(1.1); /* Aumenta ligeiramente o ícone quando passa o mouse por cima ou clica */
  }

.user-details {
  margin-left: 30px;
}

.suggested-user-name {
  font-weight: bold;
}

.user-followers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

/* Estilos para as divs vazias do lado direito */
.side-divs {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os filhos horizontalmente */
  margin-top: 38px;
  gap: 20px; /* Espaçamento entre as divs */
}

.side-div-users,
.side-div-suggestions {
  background-color: white;
  width: 350px; /* ou 100% se estiver dentro de uma flex container com largura definida */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 40px; /* Ajuste ou remova se necessário para evitar sobreposição */
  box-sizing: border-box;
}

.side-div-users {
  height: calc(50% - 20px); /* 50% da altura do parent menos o gap */
}

.side-div-suggestions {
  height: calc(50% - 20px); /* 50% da altura do parent menos o gap */
}

/* Adicione títulos para cada div lateral */
.side-div-users > h2 {
  margin-top: 0;
  margin-bottom: 16px; /* Espaçamento abaixo do título */
  font-size: 1.5em; /* Tamanho do título */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Adicione títulos para cada div lateral */
.side-div-suggestions > h2 {
  margin-top: 0;
  margin-bottom: 16px; /* Espaçamento abaixo do título */
  font-size: 1.5em; /* Tamanho do título */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-users > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-suggestions > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Ajuste a classe para os itens de usuário e sugestões */
.item-list {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

  .item-list > li {
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-bottom: 10px; /* Espaçamento entre os itens */
  }

    .item-list > li > img {
      width: 50px; /* Largura da imagem do perfil */
      height: 50px; /* Altura da imagem do perfil */
      border-radius: 50%; /* Arredonda a imagem para ficar circular */
      margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    }

input[type="text"],
input[type="date"] {
  border: none;
  outline: none;
  font-size: 16px;
}

  /* Se você também quer remover o fundo para parecer que não é um campo editável */
  input[type="text"]:read-only,
  input[type="date"]:read-only {
    background: transparent;
  }
