<!-- p *ngIf="message">{{message}}</!--p>-->

<div class="main">
  <br /><br />
  <div class="profile-header">
    <img src="" class="cover-photo">
    <img src="" class="profile-photo">
  </div>

  <div class="profile-info">
    <div class="user-name-and-icons">
      <div class="user-name">
        <h1>João Silva</h1>
      </div>
      <div class="user-icons">
        <a routerLink="/" class="profile-icon">
          <img src="assets/img/statistic.png" alt="Estatisticas">
        </a>
        <a routerLink="/" class="profile-icon">
          <img src="assets/img/messenger.png" alt="Chat">
        </a>
        <a routerLink="/editProfile" (click)="getUserProfileInfo()" class="profile-icon">
          <img src="assets/img/edit profile.png" alt="Editar perfil">
        </a>
      </div>
    </div>
    <form [formGroup]="profileForm" class="user-details">
      <div>
        <label for="hobby">Descrição:</label>
        <input formControlName="hobby" type="text" id="hobby" name="hobby" readonly>
      </div>
      <div>
        <label>Gênero:</label>
        <input formControlName="gender" type="radio" id="male" name="gender" value="M" [checked]="profileForm.controls['gender'].value === 'M'" >
        <label for="male">Masculino</label>
        <input formControlName="gender" type="radio" id="female" name="gender" value="F" [checked]="profileForm.controls['gender'].value === 'F'" >
        <label for="female">Feminino</label>
      </div>
      <div>
        <label for="birthdate">Data de nascimento:</label>
        <input formControlName="date" type="date" id="birthdate" name="birthdate" readonly>
      </div>
    </form>
    <!--<div class="user-followers">
      <p>Seguidores: 220 • A Seguir: 221</p>
    </div>-->
  </div>

  <div class="side-divs">
    <div class="side-div-users">
      <h2>Outros Utilizadores</h2>
      <ul class="item-list">
        <li *ngFor="let userProfile of usersProfiles">
          <img [src]="userProfile.profilePhoto">
          <p>{{ userProfile.userName }}</p>
        </li>
      </ul>
      <a href="#" class="expand-link">Expandir Utilizadores</a>
    </div>

    <div class="side-div-suggestions">
      <h2>Sugestões</h2>
      <a href="#" class="expand-link">Expandir Sugestões</a>
    </div>
  </div>
  <br />
  <br />
</div>

