.unread-message {
  color: red!important;
}

.error-message {
  color: #d32f2f; /* Cor vermelha para a mensagem de erro */
  background-color: #f9e0e0; /* Fundo sutil para a mensagem de erro */
  border-color: #f9e0e0;
  padding: 8px 10px;
  border-radius: 4px;
  margin-bottom: 10px; /* Espaço antes do próximo campo de texto */
  box-sizing: border-box;
  font-size: 0.9em;
}

.container {
  margin-top: 1rem; /* ajuste se necessário para a sua página */
}

.contact-list {
  border-radius: 15px; /* Arredonda os cantos */
  margin-bottom: 1rem; /* Espaço entre os elementos */
  height: calc(100vh - 12rem); /* Altura para igualar a área de mensagem com o envio */
  background-color: white; /* Fundo branco para ambos os painéis */
}

.chat-card {
  border-radius: 15px; /* Arredonda os cantos */
  margin-bottom: 1rem; /* Espaço entre os elementos */
  height: calc(100vh - 12rem); /* Altura para igualar a área de mensagem com o envio */
  background-color: transparent; /* Fundo branco para ambos os painéis */
  overflow-y: auto;
  border: 1px solid #f0f0f0;
}

.contact-list {
  border: 1px solid #ddd; /* Linha de divisão */
}



.chat-card {
  display: flex;
  flex-direction: column; /* Organiza o layout da card */
}

.card-header,
.card-footer {
  background-color: #f8f9fa; /* Fundo do cabeçalho e rodapé */
}

.chat-message-area {
  overflow-y: auto;
  flex-grow: 1; /* Ocupa o espaço disponível */
}

.message {
  padding: 10px 20px;
  margin: 8px 0; /* Adiciona uma margem acima e abaixo de cada mensagem */
  border-radius: 10px;
  background-color: white; /* Cor de fundo para mensagens recebidas */
  max-width: 75%;
  word-wrap: break-word;
  position: relative; /* Posicionamento relativo para utilizar 'clear' */
  clear: both; /* Evita que mensagens se sobreponham */
}

.incoming {
  background-color: white;
  color: black;
  text-align: left;
  float: left;
}

.outgoing {
  background-color: #4CAEFE;
  color: white;
  text-align: right;
  float: right;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid #ddd;
}

.send-button {
  cursor: pointer; /* Muda o cursor para o símbolo de clique */
  width: 30px; /* Largura da imagem */
  height: auto; /* Altura automática para manter a proporção */
  margin-left: 10px;
  margin-top: 5px;
}

.input-group .form-control {
  margin-right: 0.5rem; /* Adiciona um espaço entre o input e o botão enviar */
}

/* Clear floats after the messages */
.chat-message-area:after {
  content: "";
  display: table;
  clear: both;
}

/* Ajustar a área de mensagens para ter uma margem interna */
.chat-message-area {
  padding: 8px 20px; /* Espaço interno para evitar que mensagens toquem as bordas */
  overflow-y: auto;
  height: calc(100vh - 160px); /* Ajuste a altura conforme necessário */
}

.message-timestamp {
  display: block; /* ou inline-block, dependendo do seu layout desejado */
  color: white; /* Cor cinza para a data/hora */
  font-size: 0.85em; /* Um tamanho de fonte menor */
  margin-top: 5px; /* Espaçamento no topo */
  text-align: right; /* Alinha a data/hora à direita */
}

.message.incoming .message-timestamp {
  text-align: left; /* Alinha a data/hora à esquerda para mensagens recebidas */
  color: black
}

.user-item {
  display: flex;
  justify-content: space-between; /* Alinha os itens nos extremos opostos */
  align-items: center; /* Alinha os itens da lista verticalmente */
  padding: 0.5rem 1rem; /* Espaço interno */
}

.other-users-user-photo {
  border-radius: 50%; /* Faz a foto do perfil circular */
  width: 40px; /* Tamanho da foto do perfil */
  height: 40px; /* Altura da foto do perfil */
}

.other-users-user-name {
  flex-grow: 1; /* Permite que o nome do usuário ocupe qualquer espaço extra */
  margin-left: 1rem; /* Espaço entre a foto e o nome do usuário */
  font-weight: bold;
  color: #333;
}

.last-message-time {
  font-size: 0.85em; /* Tamanho menor para a hora */
  color: #6c757d; /* Uma cor cinza */
}

.search-bar {
  margin-top: 0.5rem; /* Adiciona um espaçamento no topo */
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* Para suporte ao Safari */
  position: sticky;
  top: 0; /* Fica no topo dentro do .contact-list */
  background: white; /* Cor de fundo para cobrir o conteúdo por baixo quando rolar */
}

/* Adicione um contêiner em torno da lista de usuários para permitir rolagem apenas nessa seção */
.user-list-container {
  height: calc(100vh - 18rem); /* Ajuste a altura para compensar a barra de pesquisa */
  overflow-y: auto; /* Ativa a barra de rolagem */
}

.list-group-item {
  border-radius: 0%;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #474747;
}

.search-input {
  padding: 10px;
  padding-left: 50px; /* Ajusta para deixar espaço para o ícone de pesquisa */
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Inter';
  width: 100%; /* Se desejar que ocupe toda a largura disponível */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  outline: none;
  border: 3px solid black;
}

  .search-input::placeholder {
    color: #aaa;
  }

  .search-input:focus {
    border-color: #4CAEFE;
  }

.no-results-message {
  padding: 10px;
  text-align: center;
  color: #666;
}

::-webkit-scrollbar {
  width: auto; /* Largura da barra de rolagem */
  height: auto; /* Altura da barra de rolagem */
}


/* Estiliza o fundo da barra (a trilha) */
::-webkit-scrollbar-track {
  background: white; /* Cor de fundo da trilha */
}

/* Estiliza a alça da barra de rolagem (o "thumb") */
::-webkit-scrollbar-thumb {
  background: #4CAEFE; /* Cor do "thumb" da barra de rolagem */
}
