.title-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

hr {
  border: 0;
  height: 6px;
  background-color: black;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  opacity: 1;
  width: 100%; /* Adiciona esta linha para garantir que o divisor ocupe toda a largura */
}

.about-us-text {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 20px; /* Adiciona margem superior para separação */
}
