.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Define a altura mínima para ocupar toda a tela verticalmente */
}

.about-us-box {
  width: 80%;
  max-width: 800px; /* Defina um tamanho máximo para a caixa */
  background-color: #ffffff; /* Adicione uma cor de fundo se necessário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra para destacar a caixa */
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-us-header {
  color: black;
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center; /* Centraliza o texto horizontalmente */
  border-bottom: 2px solid black; /* Adiciona uma borda inferior preta */
}
span{
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;

}