<!-- p *ngIf="message">{{message}}</!--p>-->

<div class="main">
  <br /><br />
  <div class="profile-header">
    <img src="assets/img/pfp2.png" class="cover-photo">
    <img src="assets/img/joao-pfp.png" class="profile-photo">
  </div>

  <div class="profile-info">
    <div class="user-name-and-icons">
      <div class="user-name">
        <h1>João Silva</h1>
      </div>
      <div class="user-btns">
        <div class="button-container">
          <p> Modo do perfil: </p>
          <button class="image-button">
            <img src="assets/img/private.png" alt="Private">
          </button>
        </div>
        <br />
        <button class="custom-button">Alterar palavra-passe</button>
        <br />
        <button class="custom-button">Apagar Conta</button>
      </div>
    </div>


    <div class="user-details">
      <div class="detail-container">
        <div class="button-container">
          <button class="image-button">
            <img src="assets/img/edit.png" alt="Button 1">
          </button>
        </div>
        <p>Descrição: Gosto de Filmes</p>
      </div>

      <div class="detail-container">
        <div class="button-container">
          <button class="image-button">
            <img src="assets/img/edit.png" alt="Button 2">
          </button>
        </div>
        <p>Gênero: M</p>
      </div>

      <div class="detail-container">
        <div class="button-container">
          <button class="image-button">
            <img src="assets/img/edit.png" alt="Button 3">
          </button>
        </div>
        <p>Data de nascimento: 10/10/2000</p>
      </div>
    </div>



    <div class="user-followers">
      <p>Seguidores: 220 • A Seguir: 221</p>
    </div>
  </div>

  <div class="side-divs">
    <div class="side-div-users">
      <h2>Outros Utilizadores</h2>
      <ul class="item-list">
        <li>
          <img src="assets/img/diogo-pfp.png">
          <p suggested-user-name>Diogo Carreira</p>
        </li>
        <li>
          <img src="assets/img/edu-pfp.png">
          <p suggested-user-name>Eduardo Silveiro</p>
        </li>
        <li>
          <img src="assets/img/nuno-pfp.png">
          <p suggested-user-name>Nuno Jesus</p>
        </li>
      </ul>
      <a href="#" class="expand-link">Expandir Utilizadores</a>
    </div>

    <div class="side-div-suggestions">
      <h2>Sugestões</h2>
      <ul>
        <li>
          <p> Game Of Thrones</p>
        </li>
        <li>
          <p> Game Of Thrones</p>
        </li>
        <li>
          <p> Game Of Thrones</p>
        </li>
      </ul>
      <a href="#" class="expand-link">Expandir Sugestões</a>
    </div>
  </div>
  <br />
  <br />
</div>

