<!-- p *ngIf="message">{{message}}</!--p>-->

<div class="main">
  <br /><br />
  <div class="profile-header">
    <img src="assets/img/pfp2.png" class="cover-photo">
    <img src="assets/img/joao-pfp.png" class="profile-photo">
  </div>

  <div class="profile-info">
    <div class="user-name-and-icons">
      <form class="user-name">
        <div>
          <input type="text" id="name" name="name"
                 [(ngModel)]="userName"
                 [readonly]="!nameEditable"
                 [class.bold-and-large]="true"> <!-- Aplica a classe independentemente do estado de edição -->
          <button type="button" class="image-button edit-name-button" (click)="toggleEdit('name')">
            <img src="assets/img/edit.png" alt="Editar">
          </button>
        </div>
      </form>
      <div class="button-container">
        <p> Modo do perfil: </p>
        <button class="lock-button" (click)="toggleLock()">
          <img [src]="profileLocked ? 'assets/img/private.png' : 'assets/img/public.png'" alt="Lock Status">
        </button>
        <button class="change-password-button">
          Alterar palavra-passe
        </button>
        <button class="delete-account-button">
          Apagar conta
        </button>
      </div>
    </div>

    <form class="user-details">
      <div>
        <label for="hobby">Descrição:</label>
        <input type="text" id="hobby" name="hobby" [(ngModel)]="hobby" [readonly]="!hobbyEditable">
        <button type="button" class="image-button" (click)="toggleEdit('hobby')">
          <img src="assets/img/edit.png" alt="Editar Descrição">
        </button>
      </div>
      <div>
        <label for="gender">Género:</label>
        <input type="text" id="gender" name="gender" [(ngModel)]="gender" [readonly]="!genderEditable">
        <button type="button" class="image-button" (click)="toggleEdit('gender')">
          <img src="assets/img/edit.png" alt="Editar Género">
        </button>
      </div>
      <div>
        <label for="birthdate">Data de nascimento:</label>
        <input type="date" id="birthdate" name="birthdate" [(ngModel)]="birthdate" [readonly]="!birthdateEditable">
        <button type="button" class="image-button" (click)="toggleEdit('birthdate')">
          <img src="assets/img/edit.png" alt="Editar Data de Nascimento">
        </button>
      </div>
    </form>


    <div class="user-followers">
      <p>Seguidores: 220 • A Seguir: 221</p>
    </div>
    <div class="save-changes-button-row">
      <a class="save-changes-button" routerLink="/profile">Salvar alterações</a>
    </div>
  </div>

  <div class="side-divs">
    <div class="side-div-users">
      <h2>Outros Utilizadores</h2>
      <ul class="item-list">
        <li>
          <img src="assets/img/diogo-pfp.png">
          <p suggested-user-name>Diogo Carreira</p>
        </li>
        <li>
          <img src="assets/img/edu-pfp.png">
          <p suggested-user-name>Eduardo Silveiro</p>
        </li>
        <li>
          <img src="assets/img/nuno-pfp.png">
          <p suggested-user-name>Nuno Jesus</p>
        </li>
      </ul>
      <a href="#" class="expand-link">Expandir Utilizadores</a>
    </div>

    <div class="side-div-suggestions">
      <h2>Sugestões</h2>
      <a href="#" class="expand-link">Expandir Sugestões</a>
    </div>
  </div>
  <br />
  <br />
</div>

