
<div class="about-us-container">
  <div class="about-us-box">
    <button [routerLink]="['/profile', currentUser]" class="btn btn-secondary shadow-sm">
      <i class="fas fa-arrow-left"></i> Voltar
    </button>

    <div class="about-us-header">Estatísticas Pessoais</div>

    <!-- Seção Pessoal -->
    <div class="statistics">
      <h3 class="statistics-section">Pessoal</h3>

      <div class="row justify-content-center mb-4">
        <!-- Cartão de Seguidores -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Número Total de Seguidores</h5>
              <p class="card-text"><strong>{{ followersCount }}</strong></p>
            </div>
          </div>
        </div>
        <!-- Cartão de Seguindo -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Número Total de A Seguir</h5>
              <p class="card-text"><strong>{{ followingCount }}</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="statistics-chart">
        <highcharts-chart [Highcharts]="Highcharts"
                          [options]="chartFollowers"
                          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>



        <!-- Seção Pessoal -->
        <div class="statistics">
          <h3 class="statistics-section">Tempo em Series e Filmes</h3>
          <div class="row justify-content-center mb-4">
            <!-- Cartão de Seguidores -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Total de Horas a Ver Filmes:</h5>
                  <p class="card-text"><strong style="font-size: 22px;">{{ totalWatchedTimeFormatted }}</strong></p>
                </div>
              </div>
            </div>
            <!-- Cartão de Seguindo -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Total de Horas a Ver Series:</h5>
                  <p class="card-text"><strong style="font-size: 22px;">{{ totalWatchedSeriesTimeFormatted }}</strong></p>
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class="statistics">
          <h3 class="statistics-section">Total Series e Filmes</h3>
          <div class="statistics-chart">

            <highcharts-chart [Highcharts]="Highcharts"
                              [options]="chartComparisonMedia"
                              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>

          </div>

        </div>


        <div class="statistics">
          <h3 class="statistics-section">Filmes</h3>

          <div class="row justify-content-center mb-4">
            <!-- Cartão de Seguidores -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Filmes Marcados como Vistos:</h5>
                  <p class="card-text"><strong>{{ watchedMoviesCount }}</strong></p>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Filmes Marcados Ver Mais Tarde:</h5>
                  <p class="card-text"><strong>{{ watchLaterMoviesCount }}</strong></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="statistics-chart">
          <highcharts-chart [Highcharts]="Highcharts"
                            [options]="chartMovieAdded"
                            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>



        <div class="statistics">
          <h3 class="statistics-section">Series</h3>

          <div class="row justify-content-center mb-4">
            <!-- Cartão de Seguidores -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title"> Series Marcados como Vistos:</h5>
                  <p class="card-text"><strong>{{ watchedSeriesCount }}</strong></p>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title"> Series Marcados Ver Mais Tarde::</h5>
                  <p class="card-text"><strong>{{ watchLaterSeriesCount }}</strong></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="statistics-chart">
          <highcharts-chart [Highcharts]="Highcharts"
                            [options]="chartSerieAdded"
                            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>




        <div class="statistics">
          <h3 class="statistics-section">Comentarios</h3>

          <div class="row justify-content-center mb-4">
            <!-- Cartão de Seguidores -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Número Total de Comentários/replys realizados:</h5>
                  <p class="card-text"><strong>{{ watchedMoviesCount }}</strong></p>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Número Total Likes Recebidos:</h5>
                  <p class="card-text"><strong>{{ watchLaterSeriesCount }}</strong></p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="statistics-chart">
          <highcharts-chart [Highcharts]="Highcharts"
                            [options]="chartOptions"
                            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>

        <div class="statistics">
          <h3 class="statistics-section">Quizes e Ratings</h3>

          <div class="row justify-content-center mb-4">

            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title"> Quizes Realizados:</h5>
                  <p class="card-text"><strong>{{ totalQuizAttempts }}</strong></p>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title"> Atores Marcados Favorito:</h5>
                  <p class="card-text"><strong>{{ totalFavoriteActors }}</strong></p>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title"> Ratings feitos a Media:</h5>
                  <p class="card-text"><strong>{{ totalRatigns }}</strong></p>
                </div>
              </div>
            </div>

          </div>

          <div class="statistics-chart">
            <highcharts-chart [Highcharts]="Highcharts"
                              [options]="chartQuizAndRatings"
                              style="width: 100%; height: 400px; display: block;">
            </highcharts-chart>

          </div>

        </div>

        <div class="statistics">
          <h3 class="statistics-section">Medalhas</h3>

          <div class="row justify-content-center mb-4">
            <!-- Cartão de Seguidores -->
            <div class="col-auto">
              <div class="card border-secondary h-100">
                <div class="card-body text-center">
                  <h5 class="card-title">Total Medalhas Ganhas Realizados:</h5>
                  <p class="card-text"><strong>{{ totalMedals }}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
