<div class="about-us-container">
  <div class="about-us-box">
    <div class="about-us-header">Estatísticas Pessoais</div>
    <button [routerLink]="['/profile',currentUser]" class="btn btn-secondary shadow-sm">
      <i class="fas fa-arrow-left"></i> Voltar
    </button>
    <div class="about-us-text">
      <p>Número Total de Seguidores: {{ followersCount }}</p>
      <p>Número Total de A Seguir: {{ followingCount }}</p>
    </div>
    <div class="statistics">
      <div class="media-stats">
        <h3>Media Statistics</h3>
        <p>Número Total de Filmes Marcados como Vistos: {{ watchedMoviesCount }}</p>
        <p>Número Total de Filmes Marcados como Ver Mais Tarde: {{ watchLaterMoviesCount }}</p>
        <p>Número Total de Series Marcadas como Vistos: {{ watchedSeriesCount }}</p>
        <p>Número Total de Series Marcadas como Ver Mais Tarde: {{ watchLaterSeriesCount }}</p>
        <div>Número Total de Comentários/replys realizados: {{ totalCommentsCount }}</div>
        <div>Número Total Likes Recebidos: {{totalLikesReceivedCount}}</div>
        <div>Número Total Quizes Realizados: {{totalQuizAttempts}}</div>
        <p>Número Total de Atores Marcados como Favoritos: {{ totalFavoriteActors }}</p>
        <p>Número Total de Ratings feitos a Media: {{ totalRatigns }}</p>

      </div>
    </div>
  </div>
</div>
