
<div class="about-us-container">
  <div class="about-us-box">
    <div class="about-us-header">
      <button [routerLink]="['/admin']" class="btn btn-secondary shadow-sm">
        <i class="fas fa-arrow-left"></i> Voltar
      </button>
      Estatísticas de Adminstração
    </div>

    <!-- Container para os cartões -->
    <br />

    <div class="statistics">
      <h3 class="statistics-section">Utilizadores</h3>

      <div class="row justify-content-center mb-4">
        <!-- Cartão de Utilizadores Registados -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Utilizadores Registados</h5>
              <p class="card-text"><strong>{{ totalRegisteredUsers }}</strong></p>
            </div>
          </div>
        </div>

        <!-- Cartão de Utilizadores Banidos -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Utilizadores Banidos</h5>
              <p class="card-text"><strong>{{ totalBannedUsers }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Container para o gráfico -->
    <div class="statistics-chart">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="chartBannedVsRegistered"
                        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>


    <div class="statistics">
      <div class="row justify-content-center mb-4">
        <!-- Cartão de Utilizadores Registados -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Total de Utilizadores com Perfil Privado:</h5>
              <p class="card-text"><strong> {{ totalPrivateProfiles }}</strong></p>
            </div>
          </div>
        </div>

        <!-- Cartão de Utilizadores Banidos -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Total de Utilizadores com Perfil Publico:</h5>
              <p class="card-text"><strong> {{ totalPublicProfiles }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="statistics-chart">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="chartProfileTypes"
                        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>


    <div class="statistics">
      <br />
      <h3 class="statistics-section">Media</h3>

      <div class="row justify-content-center mb-4">
        <!-- Cartão de Utilizadores Registados -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title"> Total de Filmes:</h5>
              <p class="card-text"><strong>  1 004 099</strong></p>
            </div>
          </div>
        </div>

        <!-- Cartão de Utilizadores Banidos -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Total de Series/Tv Shows:</h5>
              <p class="card-text"><strong> 170 368 </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="statistics-chart">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="chartStaticData"
                        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>

    <div class="statistics">
      <div class="row justify-content-center mb-4">
        <!-- Cartão de Utilizadores Registados -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Comentários em Media</h5>
              <p class="card-text"><strong>{{ totalComments }}</strong></p>
            </div>
          </div>
        </div>

        <!-- Cartão de Utilizadores Banidos -->
        <div class="col-auto">
          <div class="card border-secondary h-100">
            <div class="card-body text-center">
              <h5 class="card-title">Aproximadamente um Total de Episodios: </h5>
              <p class="card-text"><strong> 4 493 577 </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


