
<div class="white_container mt-5 p-5">
  <div class="row">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="d-flex">
        <input type="text" class="form-control flex-grow-1" formControlName="movieName" placeholder="Procurar Filmes ou Series Aqui...">
        <button type="submit" class="btn btn-md ml-2">Procurar</button>
      </div>
    </form>

    <div class="col-md-3 mt-5 ">
      <div class="settings_panel no_margin shadow-sm bg-white rounded">
        <h6 class="background_color light_blue">Resultados da Pesquisa</h6>
        <div id="search_menu_scroller" class="">
          <ul class="settings panel with_counts scroller">
            <li [class.selected]="searchForm.value.type === 'movie'" (click)="changeType('movie')" class="genre_tab">
              <i class="fa-solid fa-film"></i>
              <a id="movie" class="search_tab" title="Filmes" alt="Filmes">Filmes</a>
            </li>
            <li [class.selected]="searchForm.value.type === 'serie'" (click)="changeType('serie')" class="genre_tab">
              <i class="fa-solid fa-tv"></i>
              <a id="serie" class="search_tab" title="Series" alt="Series">Series</a>
            </li>
            <li  routerLink="/search-users" class="genre_tab">
              <i class="fa-solid fa-user"></i>
              <a id="users" class="search_tab" title="Utilizadores" alt="Utilizadores">Utilizadores</a>
            </li>

          </ul>
        </div>
      </div>
      <div>
        <i class="fas fa-info-circle"></i>
        <span> Dica: O utilizador pode pesquisar pelo nome original do filme, mesmo que esse nao seja do mesmo idioma da pagina. Exemplo: '기생충' (Parasite).</span>
      </div>

      <br>

      <div class="settings_panel no_margin shadow-sm bg-white rounded">
        <h6 class="background_color light_blue">Categorias</h6>
        <div id="search_menu_scroller" class="">
          <ul class="settings panel with_counts scroller">
            <!-- Mostra os gêneros de filmes quando o tipo é 'movie' -->
            <ng-container *ngIf="searchForm.value.type === 'movie'">
              <li *ngFor="let genre of genresMovies" [class.selected]="selectedGenreId === genre.id" class="genre_tab">
                <a class="search_tab" (click)="filterByGenre(genre.id)" id="{{genre.id}}" title="Gêneros">{{genre.name}}</a>
              </li>
            </ng-container>
            <ng-container *ngIf="searchForm.value.type === 'serie'">
              <li *ngFor="let genre of genresSeries" [class.selected]="selectedGenreId === genre.id" class="genre_tab">
                <a class="search_tab" (click)="filterByGenre(genre.id)" id="{{genre.id}}" title="Gêneros">{{genre.name}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <div class="row mt-5">
        <!-- Verifica se há resultados na lista -->
        <ng-container *ngIf="searchResult.length > 0; else noResults">
          <div class="col-md-12" *ngFor="let media of searchResult">
            <div class="row mb-4 shadow-sm bg-white rounded">
              <div class="col-md-2">
                <img class="bd-placeholder-img" *ngIf="media.poster_path; else defaultImage" src="https://image.tmdb.org/t/p/original/{{ media.poster_path }}"
                     [routerLink]="[searchForm.value.type === 'serie' ? '/serie' : '/movie', media.id]">
                <ng-template #defaultImage>
                  <img class="bd-placeholder-img" src="../assets/img/default_media_pic.jpg" [routerLink]="[searchForm.value.type === 'serie' ? '/serie' : '/movie', media.id]">
                </ng-template>
              </div>
              <div class="col-md-10">
                <div *ngIf="searchForm.value.type === 'serie'; else movieBlock">
                  <h5 class="card-title"><a [routerLink]="[searchForm.value.type === 'serie' ? '/serie' : '/movie', media.id]">{{media.name}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{media.first_air_date}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{media.overview | slice:0:250}}...</h6>
                </div>
                <ng-template #movieBlock>
                  <h5 class="card-title"><a [routerLink]="[searchForm.value.type === 'serie' ? '/serie' : '/movie', media.id]">{{media.title}}</a></h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{media.release_date}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted">{{media.overview | slice:0:250}}...</h6>
                </ng-template>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Mostra a mensagem quando não há resultados -->
        <ng-template #noResults>
          <div class="col-md-12">
            <div class="alert alert-info" role="alert">
              Não existem resultados disponíveis.
            </div>
          </div>
        </ng-template>

        <div class="mt-3 d-flex justify-content-center">
          <button class="btn btn-md" *ngIf="currentPage > 1" (click)="updateSearch(currentPage - 1)">&lt;</button>
          <button class="btn btn-md" *ngFor="let page of displayPages" [class.active]="page === currentPage" (click)="updateSearch(page)">{{ page }}</button>
          <button class="btn btn-md" *ngIf="currentPage < totalPagesArray.length" (click)="updateSearch(currentPage + 1)">&gt;</button>
        </div>
      </div>
    </div>

  </div>
</div>
