<div class="contain mt-3 mb-5 p-4">
  <div *ngFor="let category of categories.slice(0)" class="row">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="text-white">{{ category?.name }}</h5>
      <button (click)="toggleShowAll(category.name)" class="expand-button">{{ category?.showAll ? 'Mostrar menos' : 'Expandir' }}</button>
    </div>
    <div *ngIf="!category.showAll" class="rowposter mt-3 p-2 d-flex flex-wrap">
      <button *ngIf="!category.showAll" (click)="prevCategory(category.name)" class="button-nav">&lt;</button>
      <ng-container *ngFor="let movie of category.results.slice(category.activeIndex, category.activeIndex + 4); let i = index">
        <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/original/{{ movie?.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie', movie.id]">
      </ng-container>
      <button *ngIf="!category.showAll" (click)="nextCategory(category.name)" class="button-nav">&gt;</button>
    </div>
    <div *ngIf="category.showAll" class="container mt-3">
      <div class="row" *ngFor="let row of getRows(category.results)">

        <div class="col-3" *ngFor="let movie of row">
          <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/original/{{ movie?.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie', movie.id]">
        </div>


      </div>
    </div>
  </div>
</div>
