.session-container {
  padding: 10px;
  background-color: #f2f2f2; /* Cor de fundo da div */
  border-radius: 5px;
  display: flex;
  align-items: center; /* Alinha verticalmente o conteúdo da div */
  justify-content: space-between; /* Espaçamento entre o texto de boas-vindas e o botão */
  height: 50px; /* Altura da div */
  margin: 20px; /* Margem ao redor da div */
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336; /* Vermelho para indicar ação de logout */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

  .logout-button:hover {
    background-color: #d32f2f; /* Cor um pouco mais escura ao passar o mouse */
  }

/* Ajustes responsivos, se necessário */
@media (max-width: 768px) {
  .session-container {
    flex-direction: column; /* Empilha o texto e o botão verticalmente */
    height: auto; /* Altura automática para acomodar o conteúdo interno */
  }

  .logout-button {
    padding: 8px 15px;
    font-size: 0.8rem;
    margin-top: 10px; /* Espaçamento acima do botão */
  }

}

.main-page {
    height:400px;
}

.carousel-inner {
  height: 700px;
}

  .carousel-inner .carousel-item img {
    height: 700px;
    object-fit: cover;
  }

.carousel-caption h2 {
  color: #E50914;
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption p {
  color: #ffffff;
}

.rowposter {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rowimg {
  max-height: 100px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
}

  .rowimg:hover {
    transform: scale(1.09);
    cursor: pointer;
  }

.largeposter {
  max-height: 300px;
}

.rowposter::-webkit-scrollbar {
  display: none;
}
.button-nav {
  font-size: 3.5em;
  background-color: transparent;
  border: none;
  color: dodgerblue;
}

.row-container {
  display: flex;
  align-items: center;
}

.poster-image {
  width: 20%; /* Ajuste este valor conforme necessário */
  position: absolute;
  bottom: -6em;
  left: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 15); /* Sombra ao redor da caixa */
}

.row {
  margin-top: 5em;

}


.custom-btn {
  color: dodgerblue;
  background-color: transparent;
}

.poster-caption-container {
  display: flex;
  align-items: center;
}

.poster-image-container {
  flex: 1;
}

.carousel-caption {
  flex: 2;
}

.seu-texto {
  flex: 1;
}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: initial;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(6402%) hue-rotate(188deg) brightness(101%) contrast(101%);
  opacity: 1; /* Garante que o ícone seja totalmente opaco */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 7rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
