<main>
  <section class="intro">
    <h2>Bem-vindo à ESTeStore!</h2>
    <p>Encontre as melhores ofertas em tecnologia e inovação.</p>
  </section>
  <app-login></app-login>

  <!--<section class="destaques">
    <h3>Produtos em Destaque</h3>
    <div class="produtos-destaque">-->
      <!-- Os produtos em destaque serão exibidos aqui -->
      <!-- Exemplo de produto (deverá ser gerado dinamicamente) -->
      <!--<article class="produto">
        <img src="caminho-para-imagem.jpg" alt="Nome do Produto">
        <h4>Nome do Produto</h4>
        <p>Preço</p>
      </article>-->
      <!-- Repita o bloco acima para cada produto em destaque -->
    <!--</div>
  </section>-->
</main>

<footer>
  <p>&copy; 2024 ESTeStore. Todos os direitos reservados.</p>
</footer>
