<div class="reset-password-container" *ngIf="token && email">
  <img src="assets/img/Logo.png" alt="Logo Image" class="logo" />
  <div class="reset-password-form-container">

    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" autocomplete="off" class="reset-password-form">
      <h3>
        Insira a sua nova palavra passe.
      </h3>
      <!--<div class="input-with-icon">
        <i class="fa fa-envelope"></i>
        <input formControlName="email" type="email" placeholder="EMAIL" />
      </div>-->

      <div class="input-with-icon"
           [class.has-error]="submitted && passwordForm.get('password')?.errors">
        <i class="fa fa-lock"></i>
        <input formControlName="newPassword" [type]="passwordFieldType" placeholder="NOVA PALAVRA-PASSE" />
        <i [ngClass]="passwordIcon" (click)="togglePasswordVisibility()"></i>
      </div>

      <div class="error-container" *ngIf="submitted && passwordForm.get('newPassword')?.errors">
        <span class="error-message" *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          A nova palavra-passe é obrigatória!
        </span>
        <span class="error-message" *ngIf="passwordForm.get('newPassword')?.hasError('minlength')
                                  || passwordForm.get('newPassword')?.hasError('pattern')
                                  || passwordForm.get('newPassword')?.hasError('maxlength')">
          A nova palavra-passe tem de conter entre 8-12 caracteres, entre eles pelo menos uma letra minúscula, uma letra maiúscula e um número!
        </span>
        <span class="error-message" *ngIf="!passwordForm.get('newPassword')?.errors && errorMessages['Password'] && !isFieldModified('newPassword')">
          {{ errorMessages['Password'] }}
        </span>
      </div>

      <authentication-button [buttonText]="'ALTERAR PALAVRA-PASSE'" [buttonType]="'submit'"></authentication-button>
      <authentication-button [buttonText]="'VOLTAR'" [buttonType]="'button'" (buttonClick)="cancel()"></authentication-button>
    </form>
  </div>
</div>

