<div class="container bg-white ">
  <div class="movie-page-box">
    <div class="contain mt-5">
      <div class="row  position-relative">
        <!-- Backdrop -->
        <div style="position: relative; width: 100%;">
          <img *ngIf="getMovieDetailResult?.backdrop_path; else defaultImage"
               src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.backdrop_path }}"
               class="backdrop-image"
               alt="Backdrop Image">

          <ng-template #defaultImage>
            <img src="../assets/img/55b4a4b5-217a-4408-8934-c611fc89c423.jpg"
                 class="backdrop-image"
                 alt="Default Backdrop Image">
          </ng-template>

          <img *ngIf="getMovieDetailResult?.poster_path; else defaultPoster"
               src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}"
               class="poster-image"
               alt="Poster Image">

          <ng-template #defaultPoster>
            <img src="../assets/img/default_media_pic.jpg"
                 class="poster-image"
                 alt="Default Poster Image">
          </ng-template>
        </div>


        <!-- Movie Details -->
        <div class="col-lg-10 mt-5 p-4">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class="mt-2 mb-2">{{getMovieDetailResult?.title}}</h1>

            <div class="buttons-container" style="margin-right:-15%;">
              <button class="expand-button" *ngIf="isWatched && !isFavorite" (click)="toggleFavoriteMedia()">
                {{ isFavorite ? 'Remover dos Favoritos' : 'Marcar como Favorito' }}
              </button>
              <app-confirm-dialog *ngIf="isWatched && isFavorite"
                                  [classCss]="'expand-button'"
                                  [titleButton]="'Remover dos Favoritos'"
                                  [titlePopup]="'Confirmação'"
                                  [messagePopup]="'Tem certeza que deseja remover este filme dos favoritos?'"
                                  [confirmationTextButton]="'Confirmar'"
                                  [cancelTextButton]="'Cancelar'"
                                  (confirmAction)="toggleFavoriteMedia()"></app-confirm-dialog>


              <button class="expand-button" *ngIf="!isToWatchLater && !isWatched" (click)="handleMarkAsWatched()">
                {{ isWatched ? 'Remover dos Assistidos' : 'Marcar como Assistido' }}
              </button>
              <app-confirm-dialog *ngIf="!isToWatchLater && isWatched"
                                  [classCss]="'expand-button'"
                                  [titleButton]="'Remover dos Assistidos'"
                                  [titlePopup]="'Confirmação'"
                                  [messagePopup]="'Tem certeza que deseja remover este filme dos assistidos?'"
                                  [confirmationTextButton]="'Confirmar'"
                                  [cancelTextButton]="'Cancelar'"
                                  (confirmAction)="handleMarkAsWatched()"></app-confirm-dialog>


              <button class="expand-button" *ngIf="!isWatched && !isToWatchLater" (click)="handleMarkToWatchLater()">
                {{ isToWatchLater ? 'Remover de Assistir Mais Tarde' : 'Assistir Mais Tarde' }}
              </button>
              <app-confirm-dialog *ngIf="!isWatched && isToWatchLater"
                                  [classCss]="'expand-button'"
                                  [titleButton]="'Remover de Assistir Mais Tarde'"
                                  [titlePopup]="'Confirmação'"
                                  [messagePopup]="'Tem certeza que deseja remover este filme dos para assisitir mais tarde?'"
                                  [confirmationTextButton]="'Confirmar'"
                                  [cancelTextButton]="'Cancelar'"
                                  (confirmAction)="handleMarkToWatchLater()"></app-confirm-dialog>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <h6 class="mt-2 mb-2">Nome Original: <strong>{{getMovieDetailResult?.original_title}}</strong></h6>
              <div class="  category-div">
                <p class="genre-p" *ngFor="let genre of getMovieDetailResult?.genres; let last = last">
                  {{ genre.name }}<span *ngIf="!last">,</span>
                </p>
              </div>
              <div class="col-md-6">
                <div>
                  <p class="manual-text mt-2 mb-1">Duração:</p>
                  <p class="movie-details mt-1 mb-2">{{convertMinutesToHours(getMovieDetailResult?.runtime)}}</p>

                  <p class="manual-text mt-2 mb-1">Classificação Geral dos Utilizadores:</p>
                  <p class="movie-details mt-1 mb-2">{{convertToPercentage(getMovieDetailResult?.vote_average)}}</p>

                  <p class="manual-text mt-2 mb-1">Sinopse:</p>
                  <p class="movie-details-sinopse mt-1 mb-2">{{getMovieDetailResult?.overview}}</p>
                </div>
              </div>

              <div class="col-md-6">
                <p class="manual-text mt-2 mb-1">Orçamento:</p>
                <p class="movie-details mt-1 mb-2">{{ getMovieDetailResult?.budget | currency:'USD' }}</p>

                <p class="manual-text mt-2 mb-1">Estado:</p>
                <p class="movie-details mt-1 mb-2">{{ getMovieDetailResult?.status ? 'Em produção' : 'Finalizado' }}</p>


                <p class="manual-text mt-2 mb-1">Receita:</p>
                <p class="movie-details mt-1 mb-2">{{ getMovieDetailResult?.revenue | currency:'USD' }}</p>
              </div>


            </div>

          </div>

          <div class="mt-3 mb-3 genre-p" *ngIf="getMovieProviders?.flatrate?.length">
            Onde Ver:
            <p class="ps" *ngFor="let provider of getMovieProviders.flatrate; let last = last">
              <img src="https://image.tmdb.org/t/p/original/{{  provider?.logo_path }}" class="provider-logo">
              {{ provider?.provider_name }}
            </p>
          </div>
          <div *ngIf="!getMovieProviders?.flatrate?.length">
            Onde Ver:
            Ainda não existem provedores de streaming disponíveis.
          </div>

          <div class="rating-container">
            <p class="manual-text mt-2 mb-1">Classificação Média:</p>
            <p class="movie-details mt-1 mb-2">{{ averageRating }}  <i class="fas fa-star"></i></p>
          </div>


          <div *ngIf="isWatched" class="rating-container">
            <p class="manual-text mt-2 mb-1">A sua avaliação:</p>
            <i class="fa-star" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
               [class.fas]="userRating > i" [class.far]="userRating <= i"
               (click)="rateMovie(i + 1)"></i>
          </div>

          <div class="container">
            <h2 class="text-black">Principais atores</h2>
            <div class="d-flex flex-row flex-nowrap overflow-auto">
              <div class="card text-center flex-shrink-0" *ngFor="let c of getMovieCastResult">
                <div class="actor-image-container">
                  <img class="img-fluid actor-image" *ngIf="c.profile_path; else defaultImage" src="https://image.tmdb.org/t/p/original/{{ c.profile_path }}">
                  <ng-template #defaultImage>
                    <img class="img-fluid actor-image default-image" src="../assets/img/vecteezy_simple-user-default-icon_24983914.png">
                  </ng-template>
                </div>
                <div class="card-body">
                  <!-- Exibir a estrela apenas se a mídia estiver marcada como assistida -->
                  <i *ngIf="isWatched" class="fa-star"
                     [class.fas]="isFavoriteActor(c.id)"
                     [class.far]="!isFavoriteActor(c.id)"
                     (click)="chooseFavoriteActor(c)"></i>
                  <h3 class="text-black">{{c?.original_name}}</h3>
                  <p class="text-black">{{c?.character}}</p>
                  <p class="text-black" *ngIf="actorVotePercentages[c.id]">{{ actorVotePercentages[c.id] }}% votos</p>
                </div>
              </div>
            </div>
          </div>
          <br />

          <!-- Exibição do Quiz -->
          <!-- Quiz Popup -->
          <div *ngIf="isWatched">
            <h2 class="text-black">Quiz:</h2>

            <!-- Botão para iniciar/refazer o quiz -->
            <button *ngIf="quizCompleted" (click)="showQuizPopup()" class="btn btn-primary my-3">
              Refazer Quiz
            </button>
            <button *ngIf="!quizCompleted" (click)="showQuizPopup()" class="btn btn-primary my-3">
              Iniciar Quiz
            </button>
            <div class="overlay" *ngIf="isQuizPopupVisible">
              <div *ngIf="isQuizPopupVisible" class="quiz-popup" id="quiz-popup">
                <div class="popup-content">
                  <button class="close-popup" (click)="hideQuizPopup()">X</button>
                  <h4>Quiz geral </h4>
                  <form *ngIf="!quizResult">
                    <!-- Exibe apenas a pergunta atual baseada em currentQuestionIndex -->
                    <div class="card mb-3">
                      <div class="card-header">
                        {{ quizQuestions[currentQuestionIndex].text }}
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let answer of quizQuestions[currentQuestionIndex].answers">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" [name]="'question' + quizQuestions[currentQuestionIndex].id" [(ngModel)]="userAnswers[quizQuestions[currentQuestionIndex].id]" [value]="answer.id">
                            <label class="form-check-label" for="answer{{ answer.id }}">
                              {{ answer.text }}
                            </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- Botões de Navegação -->
                    <div class="navigation-buttons">
                      <button *ngIf="currentQuestionIndex > 0" type="button" class="btn btn-secondary" (click)="prevQuestion()" [disabled]="currentQuestionIndex === 0">Anterior</button>
                      <button *ngIf="currentQuestionIndex < quizQuestions.length - 1" type="button" class="btn btn-secondary" (click)="nextQuestion()" [disabled]="currentQuestionIndex === quizQuestions.length - 1">Próximo</button>
                    </div>
                    <!-- Mostrar botão de enviar apenas na última pergunta -->
                    <button *ngIf="currentQuestionIndex === quizQuestions.length - 1" (click)="submitQuiz()" class="btn btn-secondary">Enviar respostas</button>
                  </form>
                </div>
              </div>
            </div>
            <div *ngIf="quizResult">
              <p>Acertou {{ quizResult.correctAnswers }} de {{ quizResult.totalQuestions }} perguntas.</p>
            </div>


            <!-- Mensagem de conclusão do quiz -->
            <div *ngIf="quizCompleted" class="alert alert-info">
              <p>Já completou este quiz. A sua última pontuação foi de {{ lastQuizScore }} pontos.</p>
            </div>


          </div>
          <div class="comments-section mt-5" *ngIf="showComments">
            <h2 class="mb-4">Adicionar comentário</h2>

            <!-- Formulário de Novo Comentário -->
            <div class="comment-form mb-3">
              <textarea [(ngModel)]="newCommentText" placeholder="Escreva um comentário..." rows="3" class="form-control mb-2"></textarea>
              <button (click)="addComment()" class="btn btn-primary">Publicar Comentário</button>
            </div>

            <!-- Lista de Comentários -->
            <div class="comment-list" *ngIf="isWatched">
              <h2 class="mb-4">Comentários</h2>
              <div class="row-comments">
                <h3 class="mb-4" *ngIf="comments.length > 0" style="margin-top:10px;">Ordenar comentários</h3>
                <select *ngIf="comments.length > 0" (change)="sortComments($event)" class="form-select">
                  <option value="recentes">Mais recentes</option>
                  <option value="likes">Mais Likes</option>
                  <option value="antigos">Mais antigos</option>
                </select>
              </div>
              <h5 *ngIf="comments.length > 0" class="mb-4" style="margin-top:10px;"> Número total de comentários: {{comments.length}}</h5>

              <div *ngFor="let comment of comments; let i = index" class="comment mb-4 p-3 bg-light rounded" [id]="'comment-' + comment.id">
                <div class="d-flex justify-content-between">
                  <div class="user-info d-flex align-items-center">
                    <img *ngIf="comment?.profilePhoto; else defaultProfile" [src]="comment?.profilePhoto" class="img-fluid rounded-circle" style="width: 40px; height: 40px; cursor:pointer" alt="User profile image" [routerLink]="['/profile', comment.userName]">
                    <ng-template #defaultProfile>
                      <img src="../assets/img/joao-pfp.png" class="img-fluid rounded-circle" style="width: 40px; height: 40px; cursor:pointer" alt="Default profile image">
                    </ng-template>
                    <strong *ngIf="comment?.userName" style="cursor:pointer;" [routerLink]="['/profile', comment.userName]">{{ comment.userName }}</strong>
                    <span class="text-muted" *ngIf="comment?.createdAt">{{ comment.createdAt | date:'HH:mm, dd/MM/yyyy' }}</span>
                  </div> 
                  <!--<button *ngIf="comment?.userName && canDeleteComment(comment.userName)" (click)="deleteComment(comment.id)" class="btn btn-danger mt-2">Apagar Comentário</button>-->
                  <app-confirm-dialog *ngIf="comment?.userName && canDeleteComment(comment.userName)"
                                      [classCss]="'btn btn-danger mt-2'"
                                      [titleButton]="'Apagar Comentário'"
                                      [titlePopup]="'Confirmação'"
                                      [messagePopup]="'Tem certeza que deseja remover este comentário?'"
                                      [confirmationTextButton]="'Confirmar'"
                                      [cancelTextButton]="'Cancelar'"
                                      (confirmAction)="deleteComment(comment.id)"></app-confirm-dialog>
                </div>

                <p class="comment-text mt-2" style="margin-left:55px" *ngIf="comment?.text">{{ comment.text }}</p>
                <div class="comment-actions d-flex align-items-center" *ngIf="comment">
                  <button *ngIf="!comment.hasDisliked" (click)="toggleLikeComment(comment.id)" class="icon-button" [ngClass]="comment.hasLiked ? 'liked' : 'not-liked'">
                    <i class="fa fa-thumbs-up"></i>
                  </button>
                  <span class="likes-count" *ngIf="comment?.likesCount">{{comment.likesCount}}</span>
                </div>

                <div class="replies mt-3" *ngIf="comment?.replies">
                  <button *ngIf="!showReplyForms[comment.id]" (click)="toggleReplyForm(comment.id)" class="btn btn-outline-secondary">Responder</button>
                  <div *ngIf="showReplyForms[comment.id]" class="reply-form mt-2">
                    <textarea [(ngModel)]="replyTexts[comment.id]" class="form-control" placeholder="Escreva uma resposta..." rows="3"></textarea>
                    <button (click)="addReply(comment.id)" class="btn btn-secondary mt-2">Enviar Resposta</button>
                  </div>

                  <div *ngIf="comment.replies && comment.replies.length > 0" class="reply-list">
                    <div *ngFor="let reply of comment.replies" class="reply mb-3 p-2 bg-light rounded">
                      <div class="d-flex justify-content-between" style="margin-top:15px">
                        <div class="user-info d-flex align-items-center">
                          <img style="cursor:pointer" *ngIf="reply.profilePhoto; else defaultProfile" [src]="reply.profilePhoto" class="img-fluid rounded-circle" alt="Reply user profile image" [routerLink]="['/profile', reply.userName]">
                          <strong style="cursor:pointer;" [routerLink]="['/profile', reply.userName]">{{ reply?.userName }}</strong>
                          <span style="margin-top:5px" class="text-muted d-block" *ngIf="reply?.createdAt"> {{ reply?.createdAt | date:'HH:mm, dd/MM/yyyy' }}</span>
                        </div>
                        
                        <app-confirm-dialog *ngIf="canDeleteComment(reply.userName)"
                                            [classCss]="'btn btn-danger btn-sm'"
                                            [titleButton]="'Apagar Resposta'"
                                            [titlePopup]="'Confirmação'"
                                            [messagePopup]="'Tem certeza que deseja remover esta resposta?'"
                                            [confirmationTextButton]="'Confirmar'"
                                            [cancelTextButton]="'Cancelar'"
                                            (confirmAction)="deleteComment(reply.id, comment.id)"></app-confirm-dialog>
                      </div>

                      <p class="my-1" style="margin-left:45px" *ngIf="reply?.text">{{ reply?.text }}</p>
                      <div class="action-buttons d-flex align-items-center">
                        <button *ngIf="!reply.hasDisliked" (click)="toggleLikeComment(reply.id, comment.id)" class="icon-button" [ngClass]="reply.hasLiked ? 'liked' : 'not-liked'">
                          <i class="fa fa-thumbs-up"></i>
                        </button>
                        <span class="likes-count" *ngIf="reply?.likesCount">{{reply?.likesCount}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="comments.length === 0" class="text-muted text-center mt-3">Ainda não há comentários. Seja o primeiro a comentar!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
