.moderator-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

h4, h3 {
  font-weight: bold;
  padding-bottom: 10px;
}


.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute; /* Adicione esta linha */
  left: 10px; /* Adicione esta linha */
  color: #474747; /* Cor do ícone */
}

.search-input {
  padding: 10px;
  padding-left: 50px; /* Adicione esta linha */
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Inter';
  width: 280px; /* Ajuste conforme necessário */
}


.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}


.actions button {
  display: inline-block;
  padding: 8px 15px; /* Ajuste conforme necessário */
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  margin-left: 5px;
  font-size: 16px;
  width: 180px;
  height: 40px;
  font-weight: bold;
}

  .actions button:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }



/* Add new styles for the popup */
.ban-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Ensure the close button is positioned relative to this container */
}

.ban-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ban-duration-input {
  padding: 10px;
  margin-top: 20px; /* space above the input field */
  width: 80%; /* Adjust the width as needed */
  border-radius: 25px;
}

.ban-duration-container {
  order: 2; /* Make sure it comes after the buttons */
  width: 100%; /* Match the width with the buttons if needed */
  display: flex;
  justify-content: center; /* Center the input field */
}


.banTemp, .banPerm {
  display: inline-block;
  padding: 8px 15px; /* Ajuste conforme necessário */
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 16px;
  text-align: center;
  width: 160px;
  height: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

  .banPerm:hover, .banTemp:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }


.close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
}























/* Add responsiveness if needed */
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    margin-top: 5px;
    margin-left: 0;
  }
}
