<div class="moderator-panel">
  <h3>Bem vindo {{ loggedUserName }}</h3>
  <!-- Search Bar -->
  <div class="p-2">
    <div class="search-bar">
      <i class="fa fa-search search-icon"></i>
      <input type="text"
             placeholder="Procurar..."
             class="search-input"
             [(ngModel)]="searchTerm"
             (input)="filterUsers()">
    </div>
    <a [routerLink]="['/admin-statistics']" class="profile-icon">
      <img src="assets/img/statistic.png" alt="Estatísticas">
    </a>
  </div>
  <div class="user-list">
    <h4>Utilizadores:</h4>
    <!-- Verifica se a lista filtrada tem conteúdo -->
    <ng-container *ngIf="filteredUsersProfiles.length > 0; else noResults">
      <div class="user" *ngFor="let userProfile of filteredUsersProfiles">
        <div class="user-info">
          <img class="avatar" [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]">
          <p class="name">{{ userProfile.userName }}</p>
        </div>
        <div class="actions">
          <!--<button class="delete" (click)="deleteAccount(userProfile.userName)">Apagar conta</button>-->
          <app-confirm-dialog [classCss]="'delete'"
                              [titleButton]="'Apagar conta'"
                              [titlePopup]="'Confirmação'"
                              [messagePopup]="'Tem certeza que deseja eliminar esta conta?'"
                              [confirmationTextButton]="'Confirmar'"
                              [cancelTextButton]="'Cancelar'"
                              (confirmAction)="deleteAccount(userProfile.userName)">
          </app-confirm-dialog>
          <button *ngIf="!userProfile.isBanned" class="ban" (click)="userProfile.userName && showBanPopup(userProfile.userName)">Banir conta</button>
          <!--<button *ngIf="userProfile.isBanned" class="unban" (click)="userProfile.userName && unban(userProfile.userName)">Remover ban</button>-->
          <app-confirm-dialog *ngIf="userProfile.isBanned"
                              [classCss]="'delete'"
                              [titleButton]="'Remover ban'"
                              [titlePopup]="'Confirmação'"
                              [messagePopup]="'Tem certeza que deseja remover o ban nesta conta?'"
                              [confirmationTextButton]="'Confirmar'"
                              [cancelTextButton]="'Cancelar'"
                              (confirmAction)="unban(userProfile.userName)">
          </app-confirm-dialog>
          <!--<button *ngIf="!userProfile.isModerator" class="moderator" (click)="makeModerator(userProfile.userName)">Tornar Moderador</button>-->
          <app-confirm-dialog *ngIf="!userProfile.isModerator"
                              [classCss]="'delete'"
                              [titleButton]="'Tornar Moderador'"
                              [titlePopup]="'Confirmação'"
                              [messagePopup]="'Tem certeza pretende tornar este utilizador um Moderator?'"
                              [confirmationTextButton]="'Confirmar'"
                              [cancelTextButton]="'Cancelar'"
                              (confirmAction)="makeModerator(userProfile.userName)"></app-confirm-dialog>
          <button *ngIf="userProfile.isModerator" class="moderator" (click)="demoteToUser(userProfile.userName)">Tornar User</button>
          <app-confirm-dialog *ngIf="userProfile.isModerator"
                              [classCss]="'delete'"
                              [titleButton]="'Tornar User'"
                              [titlePopup]="'Confirmação'"
                              [messagePopup]="'Tem certeza pretende tornar este utilizador um User?'"
                              [confirmationTextButton]="'Confirmar'"
                              [cancelTextButton]="'Cancelar'"
                              (confirmAction)="demoteToUser(userProfile.userName)"></app-confirm-dialog>

        </div>
      </div>
    </ng-container>
    <div class="pagination-controls">
      <button *ngIf="hasPreviousPage" class="pagination-button pagination-prev" (click)="previousPage()" [disabled]="page <= 1"> &lt; </button>
      <button *ngIf="hasNextPage" class="pagination-button pagination-next" (click)="nextPage()" [disabled]="page * pageSize >= collectionSize"> &gt; </button>
    </div>
    <!-- Mostra esta mensagem se não houver resultados -->
    <ng-template #noResults>
      <div class="no-results-message">
        Não existe nenhum utilizador com esse nome.
      </div>
    </ng-template>
  </div>
  <!-- Ban Popup -->
  <div *ngIf="isBanPopupVisible" class="ban-popup">
    <div class="popup-content">
      <button class="close-popup" (click)="hideBanPopup()">X</button>
      <h4>Selecione o tipo de ban:</h4>
      <div class="ban-buttons-container">
        <!--<button class="banPerm" (click)="banPerm(selectedUserForBan)">Banir permanentemente</button>-->
        <app-confirm-dialog [classCss]="'banPerm'"
                            [titleButton]="'Banir permanentemente'"
                            [titlePopup]="'Confirmação'"
                            [messagePopup]="'Tem certeza que deseja banir permanentemente esta conta?'"
                            [confirmationTextButton]="'Confirmar'"
                            [cancelTextButton]="'Cancelar'"
                            (confirmAction)="banPerm(selectedUserForBan)">
        </app-confirm-dialog>
        <!--<button class="banTemp" (click)="banTemp(selectedUserForBan)">Banir temporariamente</button>-->
        <app-confirm-dialog [classCss]="'banTemp'"
                            [titleButton]="'Banir temporariamente'"
                            [titlePopup]="'Confirmação'"
                            [messagePopup]="'Tem certeza que deseja banir temporiamente esta conta?'"
                            [confirmationTextButton]="'Confirmar'"
                            [cancelTextButton]="'Cancelar'"
                            (confirmAction)="banTemp(selectedUserForBan)">
        </app-confirm-dialog>
      </div>
      <div class="ban-duration-container">
        <input type="number" [(ngModel)]="banDuration" placeholder="Duração em dias" min="1" class="ban-duration-input">
      </div>
    </div>
  </div>
</div>
