
.moderator-panel {
  background-color: #ffffff;
  max-width: 100%; /* Ajuste para não ultrapassar a largura da tela */
  margin: 20px auto; /* Centraliza o painel */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Previne que elementos internos ultrapassem o painel */
}

h3 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 28px;
}

h4 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 25px;
}

.profile-icon img {
  width: 30px; /* Tamanho fixo para os ícones */
}

.pagination-controls {
  display: flex;
  justify-content: space-between; /* Alinha os itens nas pontas opostas */
  align-items: center;
  margin-top: 20px; /* Espaçamento no topo, ajuste conforme necessário */
}

.pagination-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  font-weight: bold;
}

  .pagination-button:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

/* Aumenta ligeiramente o ícone ao passar o mouse ou clicar */
.profile-icon:hover, .profile-icon:active {
  background-color: #f0f0f0;
  transform: scale(1.1);
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.search-icon {
  position: absolute; /* Adicione esta linha */
  left: 10px; /* Adicione esta linha */
  color: #474747; /* Cor do ícone */
}

.search-input {
  width: calc(100% - 60px); /* Subtrai a largura do ícone da largura total */
  padding: 10px;
  padding-left: 50px; /* Adicione esta linha */
  border-radius: 20px;
  font-size: 18px;
  font-family: 'Inter';
}


.user {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adicione esta linha */
  margin-bottom: 10px;
}


.user-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  overflow: hidden; /* Previne que nomes longos ultrapassem o espaço */
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  white-space: nowrap; /* Evita a quebra de linha do nome */
  overflow: hidden; /* Esconde o excesso de texto */
  text-overflow: ellipsis; /* Adiciona reticências se o texto for muito longo */
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}


.actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaçamento entre os botões */
}

  .actions button {
    width: 130px; /* Largura fixa para todos os botões */
    display: inline-block;
    padding: 8px 15px; /* Ajuste conforme necessário */
    background-color: #4CAEFE;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    margin-left: 5px;
    font-size: 16px;
    width: 180px;
    height: 40px;
    font-weight: bold;
  }

  .actions button:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }



/* Add new styles for the popup */
.ban-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Ensure the close button is positioned relative to this container */
}

.ban-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ban-duration-input {
  padding: 10px;
  margin-top: 20px; /* space above the input field */
  width: 80%; /* Adjust the width as needed */
  border-radius: 25px;
}

.ban-duration-container {
  order: 2; /* Make sure it comes after the buttons */
  width: 100%; /* Match the width with the buttons if needed */
  display: flex;
  justify-content: center; /* Center the input field */
}


.banTemp, .banPerm {
  display: inline-block;
  padding: 8px 15px; /* Ajuste conforme necessário */
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  font-size: 16px;
  text-align: center;
  width: 160px;
  height: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

  .banPerm:hover, .banTemp:hover {
    background-color: #0056b3; /* Cor mais escura no hover */
  }


.close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  color: #333;
}




/* Ajustes Responsivos */
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    align-items: stretch; /* Estica os itens para ocupar a largura total */
  }

  .user-info, .actions {
    justify-content: center; /* Centraliza os itens */
  }

    .actions button {
      width: 100%; /* Faz com que os botões ocupem a largura total */
      margin-bottom: 5px; /* Adiciona um espaçamento abaixo dos botões */
    }

  .search-input {
    width: 100%; /* Faz com que a barra de pesquisa ocupe a largura total */
    margin-bottom: 10px; /* Espaçamento abaixo da barra de pesquisa */
  }
}

/* Ajustes para telas ainda menores */
@media (max-width: 480px) {
  .search-input, .actions button {
    padding: 8px 10px; /* Reduz o preenchimento para economizar espaço */
  }

  .name {
    font-size: 18px; /* Diminui o tamanho da fonte para economizar espaço */
  }
}
