.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 100vh; /* Define a altura mínima para ocupar toda a tela verticalmente */
}

.about-us-box {
  width: 80%;
  max-width: 800px; /* Defina um tamanho máximo para a caixa */
  background-color: #ffffff; /* Adicione uma cor de fundo se necessário */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicione uma sombra para destacar a caixa */
  margin-bottom: 50px;
  margin-top: 50px;
}

.about-us-header {
  color: black;
  font-size: 48px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center; /* Centraliza o texto horizontalmente */
  border-bottom: 2px solid black; /* Adiciona uma borda inferior preta */
}

.about-us-text {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 20px; /* Adiciona margem superior para separação */
}

.creators-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around; /* Distribui igualmente os elementos na horizontal */
  align-items: center; /* Alinha verticalmente ao centro */
  flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
}

.creator {
  text-align: center; /* Centraliza o texto horizontalmente */
  margin-bottom: 20px; /* Espaço entre cada criador */
}

  .creator img {
    width: 100px; /* Define a largura da imagem */
    height: 100px; /* Define a altura da imagem */
    border-radius: 50%; /* Arredonda a imagem */
    border: 2px solid #4CAEFE;
  }

  .creator p {
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-size: 20px; /* Tamanho da fonte do nome do criador */
    font-weight: 350;
    
  }
