<div class="about-us-container">
  <div class="about-us-box">
    <div class="about-us-header">Sobre Nós</div>
    <div class="about-us-text">
      Procuramos proporcionar aos utilizadores uma experiência cinematográfica envolvente,
      cheia de funcionalidades e recursos que ofereçam o máximo de informação e entretenimento.<br />
      Estamos empenhados em elevar os padrões e em criar algo verdadeiramente notável no cenário digital.<br />
      Durante este primeiro ano, alcançámos diversos marcos e enfrentámos desafios com dedicação e entusiasmo.<br />
      Estamos ansiosos por continuar a aprimorar a nossa aplicação e por proporcionar aos utilizadores uma jornada cinematográfica ainda mais rica nos próximos anos.<br />
      Agradecemos a todos os membros da equipa pelo esforço contínuo e dedicação.
    </div>

    <div class="creators-container">
      <div class="creator">
        <img src="../assets/img/google.png" alt="Eduardo Silveiro Image">
        <p>Eduardo Silveiro </p>
      </div>
      <div class="creator">
        <img src="../assets/img/google.png" alt="Diogo Carreira Image">
        <p>Diogo Carreira </p>
      </div>
      <div class="creator">
        <img src="../assets/img/google.png" alt="Nuno Jesus Image">
        <p>Nuno Jesus </p>
      </div>
      <div class="creator">
        <img src="../assets/img/google.png" alt="João Silva Image">
        <p>João Silva </p>
      </div>
    </div>
  </div>
</div>
