
<div>
  <p-toast key="toast1"></p-toast>
  <p-toast key="toast2"></p-toast>
</div>

<div class="container mt-5" *ngIf="(authService.user$ | async) as user">
  <div class="row" *ngIf="user.username === currentUsername">
    <div class="col-lg-8">
      <div class="card mb-3">
        <input type="file" id="fileInput" accept="image/*" (change)="changeImage($event)" style="display: none;">
        <img src="{{ coverPhoto }}" class="cover-photo" (click)="openFileInput('coverPhoto')">
        <div class="card-body text-center">
          <input type="file" id="fileInput" accept="image/*" (change)="changeImage($event)" style="display: none;">
          <img src="{{ profilePhoto }}" class="profile-photo" (click)="openFileInput('profilePhoto')">
          <div class="user-details">
            <div class="user-icons">
              <p style="margin-top:25px;"> Modo do perfil: </p>
              <button class="lock-button" (click)="toggleLock()">
                <img [src]="isProfileLocked ? profileLockedPhoto : profileUnlockedPhoto" alt="Modo do perfil:">
              </button>
              <button class="change-password-button" (click)="sendEmailChangePassword()">
                Alterar palavra-passe
              </button>
              <button class="delete-account-button" (click)="deleteAccount()">
                Apagar conta
              </button>
            </div>
            <br />
            <form [formGroup]="profileForm" class="user-details text-left">
              <div class="mb-3">
                <label for="hobby">Descrição:</label>
                <div class="form-check form-check-inline">
                  <input formControlName="hobby" type="text" id="hobby" name="hobby" maxlength="50" class="form-control" [readonly]="!hobbyEditable">
                  <div *ngIf="profileForm.get('hobby')?.invalid && profileForm.get('hobby')?.dirty">
                    <small *ngIf="profileForm.get('hobby')?.errors?.['maxlength']" class="text-danger">
                      A descrição deve ter no máximo 50 caracteres.
                    </small>
                  </div>
                </div>
                <button type="button" class="btn btn-link p-0 editButton" (click)="toggleEdit('hobby')"></button>
              </div>
              <div class="mb-3">
                <label>Género:</label>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" type="radio" id="male" name="gender" value="M" class="form-check-input" [checked]="profileForm.controls['gender'].value === 'M'">
                  <label class="form-check-label" for="male">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" type="radio" id="female" name="gender" value="F" class="form-check-input" [checked]="profileForm.controls['gender'].value === 'F'">
                  <label class="form-check-label" for="female">Feminino</label>
                </div>
                <button type="button" class="btn btn-link p-0 editButton" (click)="toggleEdit('gender')"></button>
              </div>
              <div class="mb-3">
                <label for="birthdate">Data de nascimento:</label>
                <div class="form-check form-check-inline">
                  <input formControlName="date" type="date" id="birthdate" name="birthdate" [min]="minDate" [max]="currentDate" class="form-control" [readonly]="!birthdateEditable">
                </div>
                <button type="button" class="btn btn-link p-0 editButton" (click)="toggleEdit('birthdate')"></button>
              </div>
              <div class="text-center" *ngIf="(authService.user$ | async) as user">
                <button class="btn btn-primary" (click)="saveButton(user.username)">Salvar alterações</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 side-divs">
      <div class="card mb-3">
        <div class="card-body side-div-users">
          <h2>Outros Utilizadores</h2>
          <ul class="item-list">
            <li *ngFor="let userProfile of usersProfiles.slice(0, 4)">
              <div *ngIf="userProfile.userName !== loggedUserName" class="user-item">
                <img class="other-users-user-photo" [src]="userProfile.profilePhoto" [routerLink]="['/profile', userProfile.userName]">
                <span [routerLink]="['/profile', userProfile.userName]" style="cursor:pointer;" class="other-users-user-name">{{ userProfile.userName }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

