.main {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 50%, rgba(0,0,0,1) 100%);
  font-family: Arial, sans-serif;
  position: relative; /* Para posicionar as divs secundárias absolutamente em relação a esta */
  padding-bottom: 50px;
}

.profile-header {
  width: 75%;
  height: 200px;
  position: relative;
  margin-left: 30px;
}

.cover-photo {
  width: 100%; /* Faz a imagem de capa ocupar toda a largura do cabeçalho */
  height: 100%; /* Faz a imagem de capa ocupar toda a altura do cabeçalho */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorcer */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; /* Garante que a foto de capa fique atrás da foto de perfil */
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: -60px; /* A imagem de perfil se sobrepõe à div abaixo */
  z-index: 10; /* Garante que a foto do perfil esteja acima das outras divs */
  background-color: black;
}

.profile-info {
  background-color: white;
  width: 75%;
  padding-top: 60px; /* Espaço para a imagem do perfil se sobrepor */
  box-sizing: border-box;
  margin-left: 30px;
  height: 400px;
}


.user-name-and-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -70px;
}

.user-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 180px;
}

.user-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; /* Alinha os ícones à direita */
  margin-bottom: 30px;
  margin-top: 15px;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------- BOTÕES --------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

.custom-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
}

.custom-button:hover {
    background-color: lightblue;
}

.button-container p {
  font-weight: bold;
}

.lock-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: 900px;
}

.lock-button img {
  width: 50px;
  height: auto;
}

.lock-button:hover img {
  opacity: 0.5;
}

.lock-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

  .lock-button img {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.editButton {
  margin-left: 20px;
  background-image: url('/assets/img/edit.png'); /* Adicione o caminho para a sua imagem aqui */
  background-repeat: no-repeat;
  background-size: contain;
  border: none; /* Remove a borda do botão, se desejar */
  width: 20px; /* Ajuste conforme o necessário */
  height: 20px; /* Ajuste conforme o necessário */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.change-password-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
}

.delete-account-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
}

.save-changes-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
}

.save-changes-button-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 20px;
}

.date-picker {
  position: relative;
  display: inline-block;
}

.date-input {
  padding-right: 30px; /* Espaço para o ícone */
}

.date-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */


.user-details {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  width: 75%;
  margin-top:20px;
}

.profile-icon:hover, .profile-icon:active {
  background-color: #f0f0f0; /* Cor de fundo quando passa o mouse por cima ou clica */
  transform: scale(1.1); /* Aumenta ligeiramente o ícone quando passa o mouse por cima ou clica */
}

.user-details {
  margin-left: 30px;
}

.suggested-user-name {
  font-weight: bold;
}

.user-followers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

/* Estilos para as divs vazias do lado direito */
.side-divs {
  position: absolute;
  top: 0;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os filhos horizontalmente */
  margin-top: 38px;
  gap: 20px; /* Espaçamento entre as divs */
}

.side-div-users,
.side-div-suggestions {
  background-color: white;
  width: 350px; /* ou 100% se estiver dentro de uma flex container com largura definida */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 40px; /* Ajuste ou remova se necessário para evitar sobreposição */
  box-sizing: border-box;
}

.side-div-users {
  height: calc(50% - 20px); /* 50% da altura do parent menos o gap */
}

.side-div-suggestions {
  height: calc(50% - 20px); /* 50% da altura do parent menos o gap */
}

/* Adicione títulos para cada div lateral */
.side-div-users > h2 {
  margin-top: 0;
  margin-bottom: 16px; /* Espaçamento abaixo do título */
  font-size: 1.5em; /* Tamanho do título */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Adicione títulos para cada div lateral */
.side-div-suggestions > h2 {
  margin-top: 0;
  margin-bottom: 16px; /* Espaçamento abaixo do título */
  font-size: 1.5em; /* Tamanho do título */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinha o texto à esquerda */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-users > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-suggestions > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Ajuste a classe para os itens de usuário e sugestões */
.item-list {
  list-style: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

  .item-list > li {
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-bottom: 10px; /* Espaçamento entre os itens */
  }

    .item-list > li > img {
      width: 50px; /* Largura da imagem do perfil */
      height: 50px; /* Altura da imagem do perfil */
      border-radius: 50%; /* Arredonda a imagem para ficar circular */
      margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    }


input[type="text"],
input[type="date"] {
  border: none;
  outline: none;
  font-size: 16px;
}

  /* Se você também quer remover o fundo para parecer que não é um campo editável */
  input[type="text"]:read-only,
  input[type="date"]:read-only {
    background: transparent;
  }


input[readonly] {
  background-color: #f3f3f3; /* cor de fundo para campos somente leitura */
  border: 1px solid #dcdcdc; /* borda para campos somente leitura */
  cursor: not-allowed; /* cursor para indicar que o campo não é editável */
}

input:not([readonly]) {
  background-color: #fff; /* cor de fundo para campos editáveis */
  border: 1px solid #66afe9; /* borda para campos editáveis */
  cursor: text; /* cursor de texto para indicar que o campo é editável */
}

.image-button {
  cursor: pointer; /* cursor de ponteiro para os botões */
}

.bold-and-large {
    margin-top:20px;
  font-weight: bold;
  font-size: 20px;
}


/* Para telas de desktop grandes */
@media (min-width: 1200px) {
  /* Estilos específicos para desktop aqui */
}

/* Para tablets ou telas de tamanho médio */
@media (max-width: 1199px) {
  .profile-header,
  .profile-info {
    width: 100%; /* Faz com que ocupem toda a largura disponível */
  }

  .profile-photo {
    left: 50%;
    transform: translateX(-50%); /* Centraliza a foto do perfil */
  }

  .user-name {
    margin-left: 0;
    justify-content: center;
  }

  .side-divs {
    position: static; /* Remove o posicionamento absoluto */
    width: auto;
    margin-top: 20px; /* Espaço acima das divs */
    flex-direction: row;
    justify-content: space-around;
  }

  .side-div-users,
  .side-div-suggestions {
    width: 48%; /* Ajusta a largura para caber lado a lado */
    margin-bottom: 20px; /* Espaço abaixo das divs */
    height: auto; /* Ajusta a altura automaticamente */
  }
}

/* Para telefones celulares ou telas pequenas */
@media (max-width: 767px) {
  .profile-header,
  .profile-info {
    width: calc(100% - 60px); /* Ajusta a largura com base na margem */
    margin-left: auto; /* Centraliza as divs horizontalmente */
    margin-right: auto;
  }

  .profile-photo {
    left: 50%;
    transform: translateX(-50%); /* Centraliza a foto do perfil */
  }

  .user-name {
    margin-left: 0;
    justify-content: center;
  }

  .user-name-and-icons,
  .user-details {
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Centraliza os elementos */
    margin-top: 10px;
  }

  .user-icons {
    margin-top: 10px;
  }

  .side-divs {
    display: none; /* Oculta as divs laterais em telas pequenas */
  }
}
