.container {
  width: 100%; /* Isso fará a div esticar pela largura total da página */
  margin: 0; /* Remove margens padrão */
  max-width: none; /* Override do Bootstrap se necessário */
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------- USER INFO -------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */

/* Custom CSS para ajustar o layout com Bootstrap */

/* Ajusta a imagem de capa para cobrir toda a área disponível */
.cover-photo {
  width: 100%;
  height: 200px; /* Altura fixa para a imagem de capa */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
  position: relative;
  z-index: 1;
  cursor: pointer;
  opacity: 1;
}

  .cover-photo:hover {
    opacity: 0.75; /* Opacidade quando o mouse está sobre o elemento */
  }


/* Estiliza a foto do perfil */
.profile-photo {
  position: absolute;
  left: 2%; /* Ajuste este valor conforme necessário */
  top: 140px; /* Ajuste vertical para alinhar com o nome, se necessário */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 3;
  left: 80px;
  cursor: pointer;
  opacity: 1;
}

  .profile-photo:hover {
    opacity: 0.75; /* Opacidade quando o mouse está sobre o elemento */
  }

.form-check-input {
  margin-left: 0px;
}

/* Ajusta o título do utilizador para ficar à direita da foto do perfil */
.card-title {
  position: absolute;
  left: 215px; /* Ajuste conforme a largura da sua foto do perfil */
  top: 200px; /* Ajuste esta propriedade para alinhar verticalmente com a sua foto do perfil */
  z-index: 3;
}

/* Organizar os campos do formulário e botões */
.user-details {
  display: flex;
  flex-direction: column; /* Organiza os campos do formulário em coluna */
  justify-content: flex-start; /* Alinha ao início do container */
  align-items: flex-start;
  padding-top: 30px;
}

.user-icons {
  display: flex;
  gap: 10px; /* Isso adiciona um espaço de 10px entre cada ícone */
  position: absolute; /* Continua com posicionamento absoluto */
  top: 215px; /* Ajuste conforme necessário para mover os ícones para dentro da caixa branca */
  left: 250px;
  z-index: 2;
}

/* Ajusta o posicionamento da área de informação do utilizador */
.profile-info {
  display: flex;
  flex-direction: row; /* Organiza o conteúdo em linha */
}

/* Título e ícones do perfil */
.user-name-and-icons {
  margin-top: -60px; /* Ajusta o posicionamento com base na altura da foto do perfil */
  padding-bottom: 30px; /* Espaço extra abaixo dos ícones */
}

/* Ícones do perfil */
.profile-icon img {
  width: 30px; /* Tamanho fixo para os ícones */
}

/* Aumenta ligeiramente o ícone ao passar o mouse ou clicar */
.profile-icon:hover, .profile-icon:active {
  background-color: #f0f0f0;
  transform: scale(1.1);
}


.user-name {
  font-size: 1em; /* Define o tamanho da fonte */
  padding-top: 10px;
  color: #333; /* Define a cor do texto */
  font-weight: bold;
}


.editButton {
  margin-left: 20px;
  background-image: url('/assets/img/edit.png'); /* Adicione o caminho para a sua imagem aqui */
  background-repeat: no-repeat;
  background-size: contain;
  border: none; /* Remove a borda do botão, se desejar */
  width: 20px; /* Ajuste conforme o necessário */
  height: 20px; /* Ajuste conforme o necessário */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.lock-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.button-container {
}

.lock-button img {
  width: 50px;
  height: auto;
}

.lock-button:hover img {
  opacity: 0.5;
}

.lock-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 10px;
}

  .lock-button img {
    width: 30px; /* Adjust the width as needed /
    height: auto; / Maintain aspect ratio */
  }

.change-password-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
}

  .change-password-button:hover {
    background-color: #0056b3;
  }

.delete-account-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAEFE;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 120px;
  font-weight: bold;
}

  .delete-account-button:hover {
    background-color: #0056b3;
  }

/* --------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------- OUTROS UTILIZADORES ---------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */

.side-divs {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha as divs à direita */
  gap: 20px; /* Espaço entre as divs */
}

.side-div-users {
  height: 507px;
}

/* Títulos para cada div lateral */
.side-div-users > h2, .side-div-suggestions > h2 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 16px 0; /* Margem inferior */
}

/* Estilizar botões ou links para "Expandir" */
.side-div-users > .expand-link,
.side-div-suggestions > .expand-link {
  display: block; /* Faz com que ocupe toda a largura da linha */
  text-align: center; /* Centraliza o texto */
  margin-top: 20px; /* Espaçamento acima */
  padding: 10px 0; /* Espaçamento vertical */
  background-color: #f0f0f0; /* Cor de fundo */
  color: #000; /* Cor do texto */
  border-radius: 5px; /* Arredonda os cantos do botão/link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: bold; /* Torna o texto em negrito */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

  .side-div-users > .expand-link:hover,
  .side-div-suggestions > .expand-link:hover {
    background-color: #c3c1c1; /* Cor mais escura no hover */
  }

.other-users-user-photo {
  width: 75px; /* Tamanho desejado das imagens */
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  cursor:pointer;
}

  .other-users-user-photo:hover {
    width: 80px; /* Tamanho desejado das imagens */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

.side-div-users .item-list {
  list-style: none; /* Remove o ponto padrão da lista */
  padding: 0; /* Remove o padding padrão */
}

.side-div-users .user-item {
  display: flex; /* Cria um layout flexível para alinhar itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 10px; /* Espaço entre a imagem e o nome do utilizador */
  margin-bottom: 20px; /* Adiciona espaço abaixo de cada item */
}

.other-users-user-name {
  margin-left: 10px; /* Espaço entre a imagem e o nome do utilizador */
  white-space: nowrap; /* Impede que o nome quebre em várias linhas */
  overflow: hidden; /* Esconde o texto que excede a área */
  text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
  font-weight: bold;
}


/* Add responsiveness if needed */
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    margin-top: 5px;
    margin-left: 0;
  }
}
