.title-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-center {
  margin: 0;
  padding: 20px 0;
}

.divider {
  border: none;
  height: 3px;
  background-color: #000000; /* Definido como preto */
  width: 100%; /* Ajuste a largura conforme necessário */
}

.request-text {
  position: absolute; /* Posiciona o texto de pedido para seguir acima da imagem */
  top: -20px; /* Ajuste este valor conforme necessário para alinhar */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Impede a quebra de linha do texto */
  background: #fff; /* Cor de fundo */
  padding: 0 10px; /* Ajuste este valor conforme necessário para espaço em volta do texto */
}

h4, h3 {
  font-weight: bold;
  padding-bottom: 10px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top:5px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top:20px;
}

/* Botão Aceitar */
.accept-follow-request {
  background-color: #4CAF50; /* Verde */
  /* outras propriedades mantêm-se inalteradas */
}

/* Botão Recusar */
.recuse-follow-request {
  background-color: #f44336; /* Vermelho */
  /* outras propriedades mantêm-se inalteradas */
}

  .accept-follow-request:hover {
    background-color: darkgreen; /* Cor mais escura no hover */
  }
  .recuse-follow-request:hover {
    background-color: darkred; /* Cor mais escura no hover */
  }

.actions{
    margin-left:50px;
}

.actions button {
  display: inline-block;
  padding: 8px 15px; /* Ajuste conforme necessário */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  margin-left: 5px;
  font-size: 16px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  margin-top:10px;
}

 
@media (max-width: 768px) {
  .user {
    flex-direction: column;
    align-items: center;
  }

  .actions button {
    margin-top: 5px;
    margin-left: 0;
  }
}

.notification-panel {
  display: flex;
  flex-direction: column;
}

.notification-item {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
  padding: 10px;
}

  .notification-item img.avatar {
    width: 40px; /* Ou o tamanho desejado */
    height: 40px; /* Mantenha igual à largura para um círculo perfeito */
    border-radius: 50%; /* Para tornar a imagem redonda */
    margin-right: 15px;
  }

  .notification-item p {
    margin: 0;
    margin-right: auto; /* Empurra tudo após o parágrafo para a direita */
  }

  .notification-item small {
    margin-left: 15px; /* Espaçamento antes da data */
    white-space: nowrap; /* Previne a quebra de linha da data */
  }

.no-notifications,
.user-list h4 {
  text-align: center; /* Centraliza o texto se não houver notificações ou para o título da lista de pedidos */
}

