<div class="title-panel" *ngIf="loggedUserName === currentUsername">
  <h1>Notificações</h1>
  <hr>
  <div class="actions">
    <button (click)="clearAllNotifications()" class="clear-notifications">Limpar Notificações</button>
  </div>
  <div class="notification-panel" *ngIf="pendingFollowRequests.length > 0">
    <div class="user-list">
      <h4>Número de pedidos para seguir: {{pendingFollowRequests.length}}</h4>
      <div *ngFor="let request of pendingFollowRequests.reverse()">
        <div class="user-info">
          <img class="avatar" [src]="request.profilePhoto" [routerLink]="['/profile', request.username]">
          <p class="user-name">{{ request.username }}</p>

          <div class="actions">
            <button (click)="acceptFollowRequest(request.username)" class="accept-follow-request">Aceitar</button>
            <button (click)="rejectFollowRequest(request.username)" class="recuse-follow-request">Recusar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-panel" *ngIf="followNotifications.length > 0">
    <h4>Seguidores:</h4>
    <div class="user-list">
      <div *ngFor="let notification of followNotifications.reverse()" class="notification-item">
        <div class="user-info">
          <img class="avatar" [src]="notification.triggeredByUserPhoto"
               [routerLink]="['/profile', getUserNameFromMessage(notification.message)]">
          <p>{{ notification.message }}</p>
          <small class="notification-date">{{ notification.createdAt | date:'HH:mm, dd/MM/yyyy' }}</small>
        </div>
        <div class="notification-actions">
          <button [routerLink]="['/profile', getUserNameFromMessage(notification.message)]"
                  class="btn btn-primary" style="margin-left: 20px">
            Ver Perfil
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-panel" *ngIf="replyNotifications.length > 0">
    <h4>Respostas a comentários:</h4>
    <div class="user-list">
      <div *ngFor="let notification of replyNotifications.reverse()" class="notification-item">
        <div class="user-info">
          <img class="avatar" [src]="notification.triggeredByUserPhoto"
               [routerLink]="['/profile', getUserNameFromMessage(notification.message)]">
          <p>{{ notification.message }}</p>
          <small class="notification-date">{{ notification.createdAt | date:'HH:mm, dd/MM/yyyy'  }}</small>
        </div>
        <div class="notification-actions">
          <button [routerLink]="['/' + notification.mediaType, notification.mediaId]"
                  [queryParams]="{commentId: notification.commentId}"
                  class="btn btn-primary" style="margin-left: 20px">
            Ver Comentário
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-panel" *ngIf="achievementNotifications.length > 0">
    <h4>Conquistas:</h4>
    <div class="user-list">
      <div *ngFor="let notification of achievementNotifications.reverse()" class="notification-item">
        <div class="user-info">
          <img class="avatar" [src]="notification.achievementPhoto" [routerLink]="['/gamification', currentUsername]">
          <p>{{ notification.message }}</p>
          <small class="notification-date">{{ notification.createdAt | date:'HH:mm, dd/MM/yyyy'  }}</small>
        </div>
        <div class="notification-actions">
          <button [routerLink]="['/gamification', currentUsername]"
                  class="btn btn-primary" style="margin-left: 20px">
            Ver Medalhas
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-panel" *ngIf="messageNotifications.length > 0">
    <h4>Mensagens:</h4>
    <div class="user-list">
      <div *ngFor="let notification of messageNotifications.reverse()" class="notification-item">
        <div class="user-info">
          <img class="avatar" [src]="notification.triggeredByUserPhoto" [routerLink]="['/profile', getUserNameFromMessage(notification.message)]">
          <p>{{ notification.message }}</p>
          <small class="notification-date">{{ notification.createdAt | date:'HH:mm, dd/MM/yyyy'  }}</small>
        </div>
        <div class="notification-actions">
          <button [routerLink]="['/chat', getUserNameFromMessage(notification.message)]"
                  class="btn btn-primary" style="margin-left: 20px">
            Ver Mensagem
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="notification-panel" *ngIf="mediaNotifications.length > 0">
    <h4>Novos Episódios:</h4>
    <div class="user-list">
      <div *ngFor="let notification of mediaNotifications.reverse()" class="notification-item">
        <div class="user-info">
          <p class="notification-message">{{ notification.message }}</p>
          <small class="notification-date">{{ notification.createdAt | date:'HH:mm, dd/MM/yyyy'  }}</small>
        </div>
        <div class="notification-actions">
          <button [routerLink]="['/serie', notification.mediaId, 'season']" [queryParams]="{ scrollToLastSeason: true }"
                  class="btn btn-primary" style="margin-left: 20px">
            Ver Temporadas
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pendingFollowRequests.length === 0 && followNotifications.length === 0 && replyNotifications.length === 0 && achievementNotifications.length === 0 && messageNotifications.length === 0 && mediaNotifications.length === 0">
    <p> Não existem notificações pendentes.</p>
  </div>
</div>
