<div class="title-panel" *ngIf="loggedUserName === currentUsername">
  <h3 class="title-center">Notificações</h3>
  <hr class="divider">
  <!-- Verificação se existem pedidos pendentes -->
  <div *ngIf="pendingFollowRequests.length > 0">
    <div class="user-list">
      <h4>Número de pedidos para seguir: {{pendingFollowRequests.length}}</h4>
      <div *ngFor="let request of pendingFollowRequests" class="user">
        <div class="user-info">
          <img class="avatar" [src]="request.profilePhoto" [routerLink]="['/profile', request.username]">
          <p class="name">{{ request.username }}</p>
          <div class="actions">
            <button (click)="acceptFollowRequest(request.username)" class="accept-follow-request">Aceitar</button>
            <button (click)="rejectFollowRequest(request.username)" class="recuse-follow-request">Recusar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="notification-panel">
    <div class="user-list">
      <div *ngFor="let notification of notifications" class="notification-item">
        <div class="user-info">
          <img class="avatar" [src]="notification.triggeredByUserPhoto" [routerLink]="['/profile', notification.triggeredByUserName]">
          <p class="name">{{ notification.message }}</p>
          <small>{{ notification.createdAt | date:'short' }}</small>
        </div>
      </div>
    </div>
    <!-- Se não houver notificações -->
    <div *ngIf="notifications.length === 0" class="no-notifications">
      <p>Você não tem novas notificações.</p>
    </div>
</div>
