<footer class="footer">
  <img src="assets/img/WatchersWorld.png" alt="Logo Image" class="logo" />
  <div class="container row">
    <div class="footer-col">
      <h4>Serviço Cliente:</h4>
      <ul>
        <li><a routerLink="/about-us">Sobre Nós</a></li>
        <li><a href="#">Acessibilidade</a></li>
        <li><a href="#">Termos/Responsabilidade</a></li>

      </ul>
    </div>
    <div class="footer-col">
      <h4>Contactar:</h4>
      <ul>
        <li><span>watchersworld&#64;gmail.com</span></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Segue-nos:</h4>
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <p class="wwcr">&#64;Watchers World Team, 2024 </p>
</footer>
