<div class="login-container">0
  <p>H</p><!-- Imagem -->
  <div class="login-form-container">
    <form class="login-form">
      <!-- Input de email-->
      <!-- Input de password -->
      <authentication-button [buttonText]="'LOGIN'" [buttonType]="'submit'"></authentication-button> <!-- Botão de Login -->
      <a href="#" class="forgot-password-link">Esqueceu-se da palavra-passe?</a>
      <div class="divider"></div><!-- DIVISÓRIA -->
      <authentication-button [buttonText]="'LOGIN COM GOOGLE'" [buttonType]="'submit'" [icon]="'assets/img/google.png'"></authentication-button><!-- Butão de Login com Google -->
      <!-- Registe-se Aqui -->
      <span>Não possui conta? <a href="#" class="register-link">Registe-se aqui!</a></span>
    </form>
  </div>
</div>
