.login-container {
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(40,40,40,1) 50%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 5px 0px;
}

.login-form .forgot-password-link,
.login-form .register-link,
.login-form authentication-button{
  width: 75%;
}


.login-form .forgot-password-link,
.login-form .register-link {
  display: flex;
  justify-content: end;
  color: white;
}

a{
  color: white;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: white;
  margin: 20px 0;
  border-radius: 15px;
}

.logo{
    margin: 90px 0px 50px 0px;
    width: 7.5%
}




