<div class="login-container">
  <img src="assets/img/Logo.png" alt="Logo Image" class="logo" />
  <div class="login-form-container">

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()" autocomplete="off">


      <div class="input-with-icon"
           [class.has-error]="(submitted && (loginForm.get('email')?.errors || (errorMessages['Email'] && !isFieldModified('email')))) || errorMessages['ThirdPartyEmail']">
        <i class="fa fa-envelope"></i>
        <input formControlName="email" type="email" placeholder="EMAIL"
               [class.is-invalid]="submitted && loginForm.get('email')?.errors" />
      </div>

      <div class="error-container" *ngIf="(submitted && (loginForm.get('email')?.errors || errorMessages['Email'])) || errorMessages['ThirdPartyEmail']">
        <span class="error-message" *ngIf="loginForm.get('email')?.hasError('required') && !errorMessages['ThirdPartyEmail']">
          O email é obrigatório!
        </span>
        <span class="error-message" *ngIf="!loginForm.get('email')?.errors && errorMessages['Email'] && !isFieldModified('email')">
          {{ errorMessages['Email'] }}
        </span>
        <span class="error-message" *ngIf="errorMessages['ThirdPartyEmail']">
          {{ errorMessages['ThirdPartyEmail'] }}
        </span>
      </div>

      <div class="input-with-icon"
           [class.has-error]="submitted && (loginForm.get('password')?.errors || (errorMessages['Password'] && !isFieldModified('password')))">
        <i class="fa fa-lock"></i>
        <input formControlName="password" type="password" placeholder="PALAVRA-PASSE"
               [class.is-invalid]="submitted && loginForm.get('password')?.errors" />
      </div>

      <div class="error-container" *ngIf="submitted && (loginForm.get('password')?.errors || errorMessages['Password'])">
        <span class="error-message" *ngIf="loginForm.get('password')?.hasError('required')">
          A palavra-passe é obrigatória!
        </span>
        <span class="error-message" *ngIf="!loginForm.get('password')?.errors && errorMessages['Password'] && !isFieldModified('password')">
          {{ errorMessages['Password'] }}
        </span>
      </div>


      <authentication-button [buttonText]="'LOGIN'" [buttonType]="'submit'"></authentication-button>
      <a routerLink="/account/send-email/forgot-password" class="forgot-password-link">Esqueceu-se da palavra-passe?</a>
      <div class="divider"></div>
      <div #googleButton></div>

      <!--<authentication-button [buttonText]="'LOGIN COM GOOGLE'" [buttonType]="'submit'" [icon]="'assets/img/google.png'"></authentication-button>-->
      <span class="register-link">
        Não possui conta?
        <span class="login-separator"> </span> <!-- Espaçador -->
        <a routerLink="/account/register" class="login-link">Registe-se aqui!</a>
      </span>
    </form>
  </div>
</div>
