.medals-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Center the title if desired */
}

hr {
  border: 0; /* Remove default border */
  height: 6px; /* Set the height of the line */
  background-color: black; /* Set the line color */
  margin-top: 0; /* Optionally remove the top margin if required */
  margin-bottom: 20px; /* Add some space below the line */
  border-radius: 5px;
}


.medals-list {
  display: flex;
  justify-content: space-around; /* This spreads out the medals evenly */
  align-items: center; /* Align medals vertically */
  flex-wrap: wrap; /* Wrap items to the next line if needed */
}

.medal {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin: 10px; /* Add some space around each medal */
}

  .medal p {
    text-align: center; /* Center the text */
    margin-top: 10px; /* Add space above the text */
  }

.medal-icon {
  width: 50px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Make the image a block element to allow for margin usage */
  margin: 0 auto; /* Center the image horizontally */
}

.private-icon, .public-icon {
  width: 20px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Make the image a block element to allow for margin usage */
  margin: 0 auto; /* Center the image horizontally */
}
