<div class="medals-panel">
  <h1>Medalhas</h1>
  <hr> <!-- Horizontal line -->
  <div class="medals-list">
    <div class="medal">
      <img src="../../assets/img/medal.png" alt="Medal" class="medal-icon">
      <p class="description">Marcar 1 filme como visto</p>
      <img src="../../assets/img/private.png" alt="Private" class="private-icon">
    </div>
    <div class="medal">
      <img src="../../assets/img/medal.png" alt="Medal" class="medal-icon">
      <p class="description">Criar uma conta</p>
      <img src="../../assets/img/public.png" alt="Public" class="public-icon">
    </div>
    <div class="medal">
      <img src="../../assets/img/medal.png" alt="Medal" class="medal-icon">
      <p class="description">Marcar 1 filme como visto</p>
      <img src="../../assets/img/private.png" alt="Private" class="private-icon">
    </div>
  </div>
</div>
